@font-face {
  font-family: 'TheSans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/TheSans_Plain.eot?#iefix') format('embedded-opentype'),
    url('fonts/TheSans_Plain.ttf') format('truetype');
}

@font-face {
  font-family: 'TheSans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/TheSans_B7_Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TheSans_B7_Bold.ttf') format('truetype');
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  background-image: url('images/background_start_page.jpg');
  background-attachment: fixed;
  background-size: cover;
}

:root {
  --font-family: "TheSans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --block-spacing-vertical: 0px;
}

body {
  font-family: 'TheSans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 0px !important;
}

footer {
  min-height: 50px;
  padding: 0px !important;
}

.openlca-logo {
  width: 180px;
  height: 111px;
  float: right;
}

.gd-logo {
  float: right;
}

.olca-lib-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd233;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  background-blend-mode: overlay;
  cursor: pointer;
}

.olca-lib-hint-icon {
  max-width: 16px;
  margin-right: 8px;
}

.olca-nav-item {
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
}

.olca-nav-item:hover {
  text-decoration: underline;
}

.olca-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.olca-content>p {
  color: #415462;
  font-size: 1.4rem;
}

.olca-content>p>a {
  color: #415462;
  text-decoration: underline;
}

.olca-content>p>a:hover {
  color: white;
}