@font-face {
    font-family: 'TheSans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/TheSans_Plain.eot?#iefix') format('embedded-opentype'),
         url('fonts/TheSans_Plain.ttf') format('truetype');
}

@font-face {
    font-family: 'TheSans';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/TheSans_B7_Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/TheSans_B7_Bold.ttf') format('truetype');
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 25px;
    font-family: 'TheSans', Helvetica, Arial, sans-serif;
    color: #fbfbfb;
    line-height: 1.42857143;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

.header {
    min-width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.header .img-link {
    height: 126px;
    margin-right: 20px;
}

.header .img-link img.logo {
    max-width: 100%;
    max-height: 100%;
}

.gd-logo {
    width: 210px;
    height: 24px;
    background-image: url('images/greendelta-logo.png');
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
}

.gd-logo:hover {
    background-image: url('images/greendelta-logo-active.png');
}

.content {
    display: none;
}

a {
    color: #fbfbfb;
}

.block {
    overflow: hidden;
}

.block.expanded img.chevron-right {
    display: none;
}

.block.expanded span.title {
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.block:not(.expanded) {
    cursor: pointer;
}

.block.expanded .content {
    display: block;
    color: #000;
}

.block .content {
    display: none;
}

.block .content.first-steps {
    background-color: #6feef1
}

.block .content.whats-new-2 {
    background-color: rgba(0, 177, 241, 0.7);
}

.block .content.community-forum {
    background-color: #ba68be;
}

.block .content.comprehensive-dbs {
    background-color: #cd8374;
}

.block .content.case-studies {
    background-color: #4889d7;
}

.block .content.trainings {
    background-color: #eeed70;
}

.block .content.work-with-olca {
    background-color: #83bc50;
}

.block.passive-enabled img.chevron-right {
    display: none;
}

.block.passive-enabled .title {
    color: #00813a;
}

.block .block-content {
    display: inline-block;
    padding: 10px;
}

img.chevron-right {
    margin-left: 6px;
    margin-bottom: -2px;
}

.placeholder {
    height: 10px;
}