.default-color0.chart-bar {
	-fx-bar-fill: rgb(229, 48, 57);
}

.default-color1.chart-bar {
	-fx-bar-fill: rgb(41, 111, 196);
}

.default-color2.chart-bar {
	-fx-bar-fill: rgb(255, 201, 35);
}

.default-color3.chart-bar {
	-fx-bar-fill: rgb(82, 168, 77);
}

.default-color4.chart-bar {
	-fx-bar-fill: rgb(132, 76, 173);
}

.default-color5.chart-bar {
	-fx-bar-fill: rgb(127, 183, 229);
}

.default-color5.chart-bar.others {
	-fx-bar-fill: rgb(127, 127, 127);
}

.chart, .chart-plot-background {
    -fx-background-color: white;
}

.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: white;
}