<!DOCTYPE html>
html(lang='en')
	head
		title='openLCA Update Manager'
		link(rel='stylesheet' type='text/css' href='libs/bootstrap/css/bootstrap.min.css')
	body
		#container
		script(src='libs/jquery.min.js')
		script(src='libs/bootstrap/js/bootstrap.min.js')
		style
			include ../precompiled/main.css
		script
			include ../precompiled/templates.js
		script
			include ../precompiled/main.js
