<!DOCTYPE html>
<html data-ng-app="PageModule">
<head>
<meta charset="UTF-8">
<title>Impact localisation</title>
<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
.selectedPage {
	color: black;
	font-weight: bold;
}
</style>
</head>
<body>
	<div id="container" class="container-fluid" data-ng-controller="Controller">
		<div class="row container-fluid">

			<!-- page header -->
			<div class="col-sm-12 page-header">
				<h3 class="pull-left">Localised characterisation factors</h3>
				<div class="pull-right" style="bottom: 15px;position: relative; top: 15px;">
					<button class="btn" onclick="runExport()">Export</button>
					<button class="btn" onclick="runImport()">Import</button>
				</div>
			</div>

			<!-- value selection -->
			<div class="col-sm-12">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-4 control-label">Impact category</label>
						<div class="col-sm-6">
							<select class="form-control" style="width: 400px" data-ng-model="selectedCategory"
								data-ng-options="c.impactCategory.name for c in method.impactCategories | orderBy:'impactCategory.name'"
								data-ng-change="categoryChanged()">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Location</label>
						<div class="col-sm-6">
							<select class="form-control" style="width: 400px" data-ng-model="selectedLocation"
								data-ng-options="(location.name + ' (' + location.code + ')') for location in method.locations | orderBy:'name'">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Flow filter</label>
						<div class="col-sm-6">
							<input class="form-control" style="width: 400px" type="text" placeholder="Enter a flow name"
								style="width: 400px" data-ng-change="search()"
								data-ng-model="nameFilter">
						</div>
					</div>
				</form>
			</div>

			<!-- table -->
			<div class="col-sm-12">
				<table class="table table-hover">
					<tr>
						<th width="30%">Flow</th>
						<th width="20%">Category</th>
						<th width="20%">Sub-Category</th>
						<th width="15%">Value</th>
						<th width="15%">Unit</th>
					</tr>
					<tr data-ng-repeat="factor in pager.pageContent">
						<td>{{factor.flow.name}}</td>
						<td>{{factor.flow.category}}</td>
						<td>{{factor.flow.subCategory}}</td>
						<td>{{getFactorValue(factor)}}</td>
						<td>{{selectedCategory.impactCategory.referenceUnit + "/" + factor.flow.unit}}</td>
					</tr>
				</table>
				<div style="text-align: center;">
					<a data-ng-show="pager.pageCount > 1"
						data-ng-click="pager.previous()">&lt;&lt;</a>
					<a data-ng-repeat="n in pageNumbers()"
						data-ng-click="pager.selectPage(n)"
						data-ng-class="{selectedPage: n==pager.currentPage}">{{" " + n
						+ " "}}</a>
					<a data-ng-show="pager.pageCount > 1" data-ng-click="pager.next()">&gt;&gt;</a>
				</div>
			</div>
		</div>
	</div>


	<script src="../libs/jquery.min_1.9.0.js"></script>
	<script src="../libs/angular.min.js"></script>
	<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="../libs/olca.utils.js"></script>
	<script type="text/javascript">
		var app = angular.module('PageModule', []);
		var Controller = function($scope) {
			$scope.pager = new olca.Pager(100);
			$scope.selectedCategory = null;
			$scope.selectedLocation = null;
			$scope.nameFilter = null;

			$scope.getFactorValue = function(factor) {
				if (!$scope.selectedLocation)
					return null;
				var locationIdx = -1;
				for ( var i = 0; i < factor.locations.length; i++) {
					if (factor.locations[i].id === $scope.selectedLocation.id) {
						locationIdx = i;
						break;
					}
				}
				if (locationIdx === -1 || locationIdx >= factor.factors.length)
					return null;
				else
					return factor.factors[i].toPrecision(5);
			};

			$scope.categoryChanged = function() {
				if (!($scope.selectedCategory))
					return;
				var factors = $scope.selectedCategory.factors;
				var items = filterFactors($scope.nameFilter, factors);
				$scope.pager.setItems(items);
			};

			$scope.pageNumbers = function() {
				return olca.range(1, $scope.pager.pageCount + 1);
			};

			$scope.search = function() {
				if (!($scope.selectedCategory))
					return;
				var factors = $scope.selectedCategory.factors;
				var items = filterFactors($scope.nameFilter, factors);
				$scope.pager.setItems(items);
			};
		};
		app.controller('Controller', Controller);

		function filterFactors(flowName, factors) {
			if (!factors)
				return [];
			if (!flowName)
				return factors;
			var filter = flowName.toLowerCase();
			var filtered = [];
			for ( var i = 0; i < factors.length; i++) {
				var flow = factors[i].flow;
				if (!flow || !flow.name)
					continue;
				if (flow.name.toLowerCase().indexOf(filter) != -1)
					filtered.push(factors[i]);
			}
			return filtered;
		}

		function setData(method) {
			var container = $("#container");
			var scope = angular.element(container).scope();
			if (method.impactCategories.length > 0) {
				scope.selectedCategory = method.impactCategories[0];
				scope.pager.setItems(scope.selectedCategory.factors);
			}
			if (method.locations.length > 0)
				scope.selectedLocation = method.locations[0];
			scope.method = method;
			scope.$apply();
		}
	</script>


</body>
</html>