<!DOCTYPE html>
<html ng-app="ReportPreviewPage" id="ng-app">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>Report Preview</title>
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!--[if IE]><script type="text/javascript" src="../libs/excanvas.js"></script><![endif]-->
      <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');

          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
      <![endif]-->
    <style type="text/css">
        .well {            
            background-color: #ffffff;
        }
        .box-row1 {
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
        .box-row2 {
            padding: 20px;
        }
        .btn-primary {
            width:225px;
        }
        .popover {
        	min-width: 200px;
        	text-align: center;
        }
        .popoverButton {
           	margin-right: 10px;
        }
        .popoverButton:hover {
        	cursor: pointer;
        	cursor: hand;
        }
		.table tr {
          border: none !important;
		  vertical-align: middle !important;
		}
		.table th {
			font-weight: normal;
			font-size: 18px;
		}
		.table td {
          border: none !important;
		  vertical-align: middle !important;
		}
		.table-hover {
		  background: #FFF;
		  color: #0D0A52;
		  margin-top: 20px;
		  border-radius: 8px !important; 
		  border-collapse: collapse !important;
		}
		.table-hover tr > th {
		  border-radius: 10px 10px 0 0!important;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		  background-color: #F3F6FC;
		}
		.table-hover tbody tr:last-child:hover td:first-child {
		  border-radius: 0 0 0 8px;
		}
		.table-hover tbody tr:last-child:hover td:last-child {
		  border-radius: 0 0 8px 0;
		}
		#restoreDefaultParametersButton {
			margin-right: 25px;
		}
		.result-charts-variant-container {
			width: 450px;
			margin-bottom: 25px;
		}
		.result-charts-variant-container .variant-label {
			width: 80%;
			text-align: center;
		}
		.legend-container {
			float: left;
			width: 150px;
			margin-right: 25px;
		}
		.legend .title {
			display: block;
			margin-bottom: 5px;
			border-radius: 5px;
		}
		.legend .glyphicon {
			margin-right: 10px;
		}
		#result-total-container {
			margin-bottom: 25px;		
		}
		#indicatorSelection {
			max-width: 400px;
			margin-bottom: 25px;
		}
    </style>
</head>

<body>
	<div id="contentDiv" data-ng-controller="Controller">
		<div class="container-fluid" style="margin:20px">
			<div class="row">
				<h1 class="col-sm-12 box-row1">{{report.title}}</h1>
			</div>
			<div class="row">
				<div data-ng-repeat="section in report.sections" class="col-sm-12 box-row1">
					<h3>{{section.title}}</h3>
					<p>
						{{section.text}}
					</p>
					<div data-ng-if="section.componentId == 'parameter_table'" data-ng-include src="'parameters-table.html'"></div>
					<div data-ng-if="section.componentId == 'variant_table'" data-ng-include src="'variants-table.html'"></div>
					<div id="result-charts-include-container" data-ng-if="section.componentId == 'result_chart'" data-ng-include src="'result-charts.html'"></div>
					<div data-ng-if="section.componentId == 'result_table'" data-ng-include src="'result-table.html'"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 box-row1">
					<button class="pull-right btn btn-primary" data-ng-click="save(report)">Save</button>
				</div>	
			</div>
		</div>
	</div>

    <script src="../libs/jquery.min_1.9.0.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angularui.min.js"></script>
    <script src="../libs/Chart.min.js"></script>
    <script src="../libs/olca.utils.js"></script>
    <script src="../libs/ui-bootstrap-tpls-0.11.0.min.js"></script>

	<script type="text/ng-template" id="parameters-table.html">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead><tr><th>Parameter</th><th>Value</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="parameter in report.parameters | orderBy:'section.name':true">
					<td>
						<popover>
						<button class="popoverButton btn btn-default" data-toggle="popover" data-content="{{parameter.description}}"><span class="glyphicon glyphicon-comment"></span></button>
						{{parameter.userFriendlyName}}
					</td>
					<td><input type="number" class="form-control" placeholder="Enter value" data-ng-model="parameter.value"></td>
				</tr>
                </tbody>
			</table>
		</div>
		<button class="pull-right btn btn-primary" onclick="calculate()">Calculate</button>
		<button id="restoreDefaultParametersButton" class="pull-right btn btn-primary" data-ng-click="restoreReportParameters(report)">Restore Defaults</button>
	</script>

	<script type="text/ng-template" id="variants-table.html">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead><tr><th>Variant</th><th>Description</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="variant in report.variants | orderBy:'section.name':true">
					<td>
						{{variant.userFriendlyName}}
					</td>
					<td>
						{{variant.description}}
					</td>
				</tr>
                </tbody>
			</table>
		</div>
	</script>

	<script type="text/ng-template" id="result-table.html">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead><tr><th>Variant</th>
							<th data-ng-repeat="label in totalResult.labels">{{label}}</th>
						</tr></thead>
				<tbody>
				<tr data-ng-repeat="variant in totalResult.datasets">
					<td>
						{{variant.title}}
					</td>
					<td data-ng-repeat="value in variant.values">
						{{value}}
					</td>
				</tr>
                </tbody>
			</table>
		</div>
	</script>

	<script type="text/ng-template" id="result-charts.html">
				<div id="result-total-container" class="col-xs-12">
					<div total-chart="exp" result="totalResult">
						<div id="result-total-legend-container" class="legend-container"></div>
						<div id="result-total-canvas"></div>
					</div>
				</div>
				<select id="indicatorSelection" class="form-control" data-ng-options="indicator as indicator.label for indicator in indicators" data-ng-model="selectedIndicator"></select>
				<div data-ng-repeat="variant in selectedIndicator.variants" class="result-charts-container col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div variants-charts="exp" variant="variant">
						<div class="result-charts-variant-container">
							<div class="variant-label alert alert-info">{{variant.label}}</div>
								<div class="legend-container"></div>
							<div class="result-canvas-container"></div>
						</div>
					</div>
				</div>
	</script>

    <script type="text/javascript">
        var app = angular.module('ReportPreviewPage', ['ui.bootstrap']);
	    app.directive('popover', function() {
	        var fn;
	        fn = function(scope, element, attrs) {
	    	    	$(document).ready(function () {
	    	    	    $(".popoverButton").popover({
	    	    	        placement : 'right'
	    	    	    });
	    	    	});
	         	};
	        return {
	            restrict: 'E',
	            link: { post : fn }
	        };
	    });

	    app.directive("totalChart", function () {
	        var fn;
	        fn = function(scope, element, attrs) {
	    	    	$(document).ready(function () {
	    	    		var containerId = 'result-total-canvas-container';
	    	    		var canvasElement = document.createElement('canvas');
	    	    		canvasElement.setAttribute("width", 800);
	    	    		canvasElement.setAttribute("border", "1px solid white");
	    	    		canvasElement.setAttribute("height", 300);
	    	    		canvasElement.setAttribute("class", "mapping");
	    	    		var canvasContainer = element.first().find('#result-total-canvas');
	    	    		canvasContainer.attr('id', containerId);
	    	    		document.getElementById(containerId).appendChild(canvasElement);
	    	    		if (isIE(8,'lte')) {
	    	    			canvasElement = G_vmlCanvasManager.initElement(canvasElement);
	    	    		}
	    	    		var ctxTotalBarChart = canvasElement.getContext("2d");
	    	    		var totalBarChart = new Chart(ctxTotalBarChart);
	    	    	    var dataTotalBarChart = scope.result;
	    	    		new Chart(ctxTotalBarChart).Bar(dataTotalBarChart, {
	    	    			animationEasing : "easeOutQuart",
	    	    			animationSteps : 50,
							barDatasetSpacing : 1,
							barValueSpacing : 20
	    	      	    });
						var resultLegend = document.createElement('div');
						var resultLegendId = 'result-total-legend';
						resultLegend.id = resultLegendId;
						document.getElementById('result-total-legend-container').appendChild(resultLegend);
   	    	    	    legend(document.getElementById(resultLegendId), dataTotalBarChart, 'variant');
	    	    	});
	         	};
	    	  return {
	    		    restrict: "EA",
	    		    scope: { result: "=result" },
	    			link: fn
    		  }
   		});

	    app.directive("variantsCharts", function () {
	        var fn;
	        fn = function(scope, element, attrs) {
	    	    	$(document).ready(function () {
						var containerId = 'variant-chart-container-' + scope.variant.id.toString();
						var canvasElement = document.createElement('canvas');
						canvasElement.setAttribute("width", 200);
						canvasElement.setAttribute("border", "1px solid white");
						canvasElement.setAttribute("height", 200);
						canvasElement.setAttribute("class", "mapping");
						var canvasContainer = element.first().find('.result-canvas-container');
						canvasContainer.attr('id', containerId);
						document.getElementById(containerId).appendChild(canvasElement);
						if (isIE(8,'lte')) {
							canvasElement = G_vmlCanvasManager.initElement(canvasElement);
						}
						var ctxVariantsPieChart = canvasElement.getContext("2d");
						var variantsPieChart = new Chart(ctxVariantsPieChart);
						var dataVariantsPieChart = scope.variant.contributionItems;	 
						new Chart(ctxVariantsPieChart).Pie(dataVariantsPieChart, {
							animateRotate : true,
							animateScale: true,
							animationEasing : "easeOutQuart",
							animationSteps : 50
  	    	    	    });
   	    	    	    var legendContainer = element.first().find('.legend-container');
						var legendContainerId = 'legend-container-' + scope.variant.id.toString();
						legendContainer.attr('id', legendContainerId);
						var resultLegend = document.createElement('div');
						var resultLegendId = 'result-legend-' + scope.variant.id.toString();
						resultLegend.id = resultLegendId;
						document.getElementById(legendContainerId).appendChild(resultLegend);
   	    	    	    legend(document.getElementById(resultLegendId), dataVariantsPieChart, 'process');
	    	    	});
	         	};
	    	  return {
	    		    restrict: "EA",
	    		    scope: { variant: "=variant" },
	    			link: fn
    		  }
   		});

	    var Controller = function ($scope) { 
	    	var renderedcount = 0;
        	$scope.report = {};
            $scope.save = function (report) {
                saveReport(angular.toJson(report));        
            }
            $scope.restoreReportParameters = function (report) {
            	angular.forEach(report.parameters, function(parameter, key){
            		angular.forEach(parameter, function(value, key){
            			if (key == 'value')
            				parameter.value = parameter.defaultValue;
            		    });
           	     });      	
            }

            $scope.indicators = [{
            		"id" : 1,
            	    "label" : "Ozone Layer Depletion",
            	    "unit" : "kg",
            	    "totals" : [
            	    	{
            	    		"title" : "Variant 1",
            	    		"value" : 10
            	    	},
            	    	{
            	    		"title" : "Variant 2",
            	    		"value" : 20
            	    	},
            	    	{
            	    		"title" : "Variant 3",
            	    		"value" : 30
            	    	},
            	    	{
            	    		"title" : "Variant 4",
            	    		"value" : 40
            	    	},
            	    	{
            	    		"title" : "Variant 5",
            	    		"value" : 50
            	    	}
            	    ],
            	    "variants" : [   {
						"id" : 1,
            	        "label" : "Variant 1",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
            	                "value" : 10,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 30,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 4",
            	                "value" : 40,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 5",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 10
            	    },
            	    {
						"id" : 2,
            	        "label" : "Variant 2",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 4",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 5",
            	                "value" : 20,
            	                "isRest" : true
            	            }],
                	        "total" : 300
            	    },
            	    {
						"id" : 3,
            	        "label" : "Variant 3",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 100
            	    },
            	    {
						"id" : 4,
            	        "label" : "Variant 4",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 50
            	    },
            	    {
						"id" : 5,
            	        "label" : "Variant 5",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 25
            	    }]
            	},
            	{
            		"id" : 1,
            	    "label" : "Abiotic Resource Depletion",
            	    "unit" : "kg",
            	    "totals" : [
            	    	{
            	    		"title" : "Variant 1",
            	    		"value" : 345
            	    	},
            	    	{
            	    		"title" : "Variant 2",
            	    		"value" : 45
            	    	},
            	    	{
            	    		"title" : "Variant 3",
            	    		"value" : 12
            	    	},
            	    	{
            	    		"title" : "Variant 4",
            	    		"value" : 679
            	    	},
            	    	{
            	    		"title" : "Variant 5",
            	    		"value" : 45
            	    	}
            	    ],
            	    "variants" : [{
						"id" : 1,
            	        "label" : "Variant 1",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 2.1",
            	                "value" : 10,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2.2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2.3",
            	                "value" : 30,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2.4",
            	                "value" : 40,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2.5",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 25
            	    },
            	    {
						"id" : 2,
            	        "label" : "Variant 2",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 4",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 5",
            	                "value" : 20,
            	                "isRest" : true
            	            }],
                	        "total" : 25
            	    },
            	    {
						"id" : 3,
            	        "label" : "Variant 3",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 10
            	    },
            	    {
						"id" : 4,
            	        "label" : "Variant 4",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 10
            	    },
            	    {
						"id" : 5,
            	        "label" : "Variant 5",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
            	                "value" : 50,
            	                "isRest" : true
            	            }],
                	        "total" : 10
            	    }]
            	}];

        	$scope.selectedIndicator = $scope.indicators[0];

    	   	applyResultChartAttributes($scope.indicators);
			calculateRelativeResult($scope.indicators);
            $scope.totalResult = getTotalResult($scope.indicators);

		};

        app.controller('Controller', Controller);
        
       function setData(report) {
            var element = document.getElementById("contentDiv");
            var scope = angular.element(element).scope();
            scope.$apply(function () {
                scope.report = report;
            });
        }

		function calculateRelativeResult(indicators) {
        	angular.forEach(indicators, function(indicator, key){
				var maximum = 0;
            		angular.forEach(indicator.totals, function(variant, key){
						if (variant.value > maximum)
							maximum = variant.value;
        		    });
					indicator.maximum = maximum;
       	     });
		}
		
        function getTotalResult(indicators) {
        	var totalResult = {};
        	totalResult.labels = [];
        	totalResult.datasets = [];
			for (variant in indicators[0].variants) {
				totalResult.datasets.push({});
			}
        	angular.forEach(indicators, function(indicator, key){
        			totalResult.labels.push(indicator.label);
					var index = 0;
            		angular.forEach(indicator.totals, function(variant, key){
						if (!totalResult.datasets[index].data)
							totalResult.datasets[index].data = [];
						if (!totalResult.datasets[index].values)
							totalResult.datasets[index].values = [];
            			totalResult.datasets[index].values.push(variant.value);
						var relativeValue = variant.value / (indicator.maximum / 100);
            			totalResult.datasets[index].data.push(relativeValue);
            			totalResult.datasets[index].title = variant.title;
						totalResult.datasets[index].fillColor = variant.color;
						totalResult.datasets[index].strokeColor = variant.color;	
        				index++;
        		    });
       	     });
        	return totalResult;
        }

		function applyResultChartAttributes(indicators) {
			var colors = [ "#E53039", "#296FC4", "#FFC923", "#52A84D", "#844CAD", "#7FB7E5", "#FF8900", "#359B58", "#319444", "#FCFF64" ];
			angular.forEach(indicators, function(indicator, key) {
				angular.forEach(indicator.variants, function(variant, key) {
					var index = 0;
					angular.forEach(variant.contributionItems, function(item, key){
						if (!item.isRest)
							item.color = colors[index];
						else
							item.color = "#AAA";
						index++;
					});
				});
				
				var index = 0;
				angular.forEach(indicator.totals, function(variant, key) {
					var rgb = hexToRgb(colors[index]);
					var color = 'rgba(' + rgb.r.toString() + ',' + rgb.g.toString() + ',' + rgb.b.toString() + ',' + '0.5)';
					variant.color = color.toString();
					index++;
				});
			});      	
		}

		function legend(parent, data, type) {
            parent.className = 'legend';
            var datas = data.hasOwnProperty('datasets') ? data.datasets : data;
            while(parent.hasChildNodes()) {
                parent.removeChild(parent.lastChild);
            }

			var color = '';
			angular.forEach(datas, function(process, key){
				angular.forEach(process, function(value, key){
					if (type == 'process') {
							if (key == 'color') {
								color = value;
								console.log('color: ' + color);
							}
					} else if (type == 'variant') {
						color = process.fillColor;
					}
				});
				angular.forEach(process, function(value, key){
					if (key == 'title') {
						var bullet = document.createElement('span');
						bullet.className = 'glyphicon glyphicon-minus'; 
						bullet.style.color = color;
						var title = document.createElement('div');
						title.className = 'title';
						var text = document.createTextNode(value);
						title.appendChild(bullet);
						title.appendChild(text);
						parent.appendChild(title);
					}
				});
			});
        }

		function hexToRgb(hex) {
			var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
			return result ? {
				r: parseInt(result[1], 16),
				g: parseInt(result[2], 16),
				b: parseInt(result[3], 16)
			} : null;
		}

		function isIE(version, comparison) {
			var cc = 'IE',
			b = document.createElement('B'),
			docElem = document.documentElement,
			isIE;
			if(version){
				cc += ' ' + version;
					if(comparison){
						cc = comparison + ' ' + cc;
					}
			}
			b.innerHTML = '<!--[if '+ cc +']><b id="iecctest"></b><![endif]-->';
			docElem.appendChild(b);
			isIE = !!document.getElementById('iecctest');
			docElem.removeChild(b);
			return isIE;
		}

    </script>
</body>
</html>