<!DOCTYPE html>
<html data-ng-app="ReportPreviewPage">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <title>Report Preview</title>
    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style type="text/css">
        .well {            
            background-color: #ffffff;
        }
        .box-row1 {
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
        }
        .box-row2 {
            padding: 20px;
        }
        .btn-primary {
            width:225px;
        }
        .popover {
        	min-width: 200px;
        	text-align: center;
        }
        .popoverButton {
           	margin-right: 10px;
        }
        .popoverButton:hover {
        	cursor: pointer;
        	cursor: hand;
        }
		.table tr {
          border: none !important;
		  vertical-align: middle !important;
		}
		.table th {
			font-weight: normal;
			font-size: 18px;
		}
		.table td {
          border: none !important;
		  vertical-align: middle !important;
		}
		.table-hover {
		  background: #FFF;
		  color: #0D0A52;
		  margin-top: 20px;
		  border-radius: 8px !important; 
		  border-collapse: collapse !important;
		}
		.table-hover tr > th {
		  border-radius: 10px 10px 0 0!important;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		  background-color: #F3F6FC;
		}
		.table-hover tbody tr:last-child:hover td:first-child {
		  border-radius: 0 0 0 8px;
		}
		.table-hover tbody tr:last-child:hover td:last-child {
		  border-radius: 0 0 8px 0;
		}
		#restoreDefaultParametersButton {
			margin-right: 25px;
		}
		.legend {
			float: right;
		}
		.legend .title {
			display: block;
			padding: 5px;
			margin-bottom: 5px;
			border-radius: 5px;
		}
    </style>
</head>

<body>
	<div id="contentDiv" data-ng-controller="Controller">
		<div class="container-fluid" style="margin:20px">
			<div class="row">
				<canvas id="variants-pie-chart-sample" width="400" height="400"></canvas>
			
				<h1 class="col-sm-12 box-row1">{{report.title}}</h1>
			</div>
			<div class="row">
				<div data-ng-repeat="section in report.sections" class="col-sm-12 box-row1">
					<h3>{{section.title}}</h3>
					<p>
						{{section.text}}
					</p>
					<div class="include-navbar" data-ng-if="section.componentId == 'parameter_table'" data-ng-include src="'parameters-table.html'"></div>
					<div class="include-navbar" data-ng-if="section.componentId == 'variant_table'" data-ng-include src="'variants-table.html'"></div>
					<div class="include-navbar" data-ng-if="section.componentId == 'result_chart'" data-ng-include src="'result-charts.html'" onload="onResultChartsIncluded()"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 box-row1">
					<button class="pull-right btn btn-primary" data-ng-click="save(report)">Save</button>
				</div>	
			</div>
		</div>
	</div>

    <script src="../libs/jquery.min_1.9.0.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../libs/Chart.min.js"></script>
    <script src="../libs/d3.v3.min.js"></script>
    <script src="../libs/legend.js"></script>
    <script src="../libs/olca.utils.js"></script>
    <script src="../libs/ui-bootstrap-tpls-0.11.0.min.js"></script>

	<script type="text/ng-template" id="parameters-table.html">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead><tr><th>Parameter</th><th>Value</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="parameter in report.parameters | orderBy:'section.name':true">
					<td>
						<popover>
						<button class="popoverButton btn btn-default" data-toggle="popover" data-content="{{parameter.description}}"><span class="glyphicon glyphicon-comment"></span></button>
						{{parameter.userFriendlyName}}
					</td>
					<td><input type="number" class="form-control" placeholder="Enter value" data-ng-model="parameter.value"></td>
				</tr>
                </tbody>
			</table>
		</div>
		<button class="pull-right btn btn-primary" onclick="calculate()">Calculate</button>
		<button id="restoreDefaultParametersButton" class="pull-right btn btn-primary" data-ng-click="restoreReportParameters(report)">Restore Defaults</button>
	</script>

	<script type="text/ng-template" id="variants-table.html">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead><tr><th>Variant</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="variant in report.variants | orderBy:'section.name':true">
					<td>
						<popover>
						<button class="popoverButton btn btn-default" data-toggle="popover" data-content="{{variant.description}}"><span class="glyphicon glyphicon-comment"></span></button>
						{{variant.userFriendlyName}}
					</td>
					<!-- <td><input type="text" class="form-control" placeholder="Enter value" data-ng-model="variants.userFriendlyName"></td> -->
				</tr>
                </tbody>
			</table>
		</div>
	</script>

	<script type="text/ng-template" id="result-charts.html">
		<div data-ng-repeat="indicator in indicators">
			<div data-ng-repeat="variant in indicator.variants" class="row">
				<result-charts variant="variant">
  					<div class="col-sm-8">
							<canvas class="result-canvas" width="400" height="400"></canvas>
   				 	</div>
				</result-charts>
			</div>
		</div>
	</script>

    <script type="text/javascript">
        var app = angular.module('ReportPreviewPage', ['ui.bootstrap']);
	    app.directive('popover', function() {
	        var fn;
	        fn = function(scope, element, attrs) {
	    	    	$(document).ready(function () {
	    	    	    $(".popoverButton").popover({
	    	    	        placement : 'right',
	    	    	    });
	    	    	});
	         	};
	        return {
	            restrict: 'E',
	            link: { post : fn },
	        };
	    });

	    app.directive("resultCharts", function () {
	        var fn;
	        fn = function(scope, element, attrs) {
	    	    	$(document).ready(function () {
	    	    		var canvasElement = element.first().find(".result-canvas");
   	    	    		var ctxVariantsPieChart = canvasElement.get(0).getContext("2d");
   	    	    	    var variantsPieChart = new Chart(ctxVariantsPieChart);
   	    	    	    var dataVariantsPieChart = scope.variant.contributionItems;	    	    	    
   	    	    	    new Chart(ctxVariantsPieChart).Pie(dataVariantsPieChart, { animateRotate : true, animateScale: true, animationEasing : "easeOutQuart", animationSteps : 50 });
   	    	    	    element.append('<div class="col-sm-4"><div id="result-legend-' + scope.variant.id.toString() + '">Legend</div></div>');
   	    	    	    legend(document.getElementById('result-legend-' + scope.variant.id.toString()), dataVariantsPieChart);
	    	    	});
	         	};
	    	  return {
	    		    restrict: "EA",
	    		    priority: 100,
	    		    scope: { variant: "=variant" },
	    			link: fn
    		  }
   		});

	    var Controller = function ($scope) { 
	    	var renderedcount = 0;
        	$scope.report = {};
            $scope.save = function (report) {
                saveReport(angular.toJson(report));        
            }
            $scope.restoreReportParameters = function (report) {
            	angular.forEach(report.parameters, function(parameter, key){
            		angular.forEach(parameter, function(value, key){
            			if (key == 'value')
            				parameter.value = parameter.defaultValue;
            		    });
           	     });      	
            }
            
            $scope.indicators = [{
            		"id" : 1,
            	    "indicator" : "Indicator Label",
            	    "unit" : "kg",
            	    "variants" : [   {
						"id" : 1,
            	        "label" : "Variant 1",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
  	    	            		"color" : "#E7E7E7",
            	                "value" : 10,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
   	    	            		"color" : "#E4F3F7",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
   	    	            		"color" : "#69D2E7",
            	                "value" : 30,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 4",
   	    	            		"color" : "#00B4FF",
            	                "value" : 40,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 5",
   	    	            		"color" : "#025D8C",
            	                "value" : 50,
            	                "isRest" : false
            	            }
            	        ]
            	    },
            	    {
						"id" : 2,
            	        "label" : "Variant 2",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
  	    	            		"color" : "#E0E4CC",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
   	    	            		"color" : "#E4F3F7",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
   	    	            		"color" : "#69D2E7",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 4",
   	    	            		"color" : "#00B4FF",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 5",
   	    	            		"color" : "#025D8C",
            	                "value" : 20,
            	                "isRest" : false
            	            }
            	        ]
            	    },
            	    {
						"id" : 3,
            	        "label" : "Variant 3",
            	        "contributionItems" : [
            	            {
            	                "title" : "Process 1",
  	    	            		"color" : "#E0E4CC",
	           	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 2",
   	    	            		"color" : "#E4F3F7",
            	                "value" : 20,
            	                "isRest" : false
            	            },
            	            {
            	                "title" : "Process 3",
   	    	            		"color" : "#69D2E7",
            	                "value" : 50,
            	                "isRest" : false
            	            }
            	        ]
            	    }
            	    ]
            	}];
	    };
        app.controller('Controller', Controller);
        
        function setData(report) {
            var element = document.getElementById("contentDiv");
            var scope = angular.element(element).scope();
            scope.$apply(function () {
                scope.report = report;
            });
        }
        
    </script>
</body>
</html>