<!DOCTYPE html>
<html data-ng-app="UsagePage">

<head>
    <title>Usages</title>
    <link href="../libs/bootstrap_2.2.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .selectedPage {
        	color: black;
        	font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container-fluid" data-ng-controller="Controller" id="contentDiv">
        <div class="row-fluid">
            <div class="span12 row-fluid" style="padding: 30px">


                <!-- Search box -->
                <div class="span4 offset1">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Search</label>
                            <div class="controls">
                                <input type="text" style="width: 350px" data-ng-model="nameFilter" data-ng-change="search()"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="span11">
                <table class="table table-hover">
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th class="muted">UUID</th>
                    </tr>
                    <tr data-ng-repeat="item in pager.pageContent">
                        <td>
                            <img data-ng-src="{{item.image}}" title="{{item.type}}">
                        </td>
                        <td>
                            <a href="#" onclick="doOpenModel({{item}})" title="{{item.description}}">{{item.name}}</a>
                        </td>
                        <td class="muted">{{item.id}}</td>
                    </tr>
                </table>
                <div style="text-align: center;">
                    <a data-ng-show="pager.pageCount > 1" data-ng-click="pager.previous()">&lt;&lt;</a>
                    <a data-ng-repeat="n in pageNumbers()" data-ng-click="pager.selectPage(n)" data-ng-class="{selectedPage: n==pager.currentPage}">{{" " + n + " "}}</a>
                    <a data-ng-show="pager.pageCount > 1" data-ng-click="pager.next()">&gt;&gt;</a>
                </div>
            </div>

        </div>
    </div>

    <script src="../libs/jquery.min_1.9.0.js"></script>
    <script src="../libs/angular.min_1.0.3.js"></script>
    <script src="../libs/bootstrap_2.2.2/js/bootstrap.min.js"></script>
    <script src="../libs/olca.utils.js"></script>

    <script>
        var app = angular.module('UsagePage', []);
        var Controller = function ($scope) {
            $scope.items = [];
            $scope.pager = new olca.Pager(100);
            $scope.nameFilter = "";
        
            $scope.setData = function (items) {
                $scope.items = items;
                $scope.pager.setItems(items);
            };
        
            $scope.pageNumbers = function () {
                var numbers = [];
                for (var i = 1; i <= $scope.pager.pageCount; i++) {
                    numbers.push(i);
                }
                return numbers;
            };
        
            $scope.search = function () {
                if (!($scope.nameFilter)) {
                    $scope.pager.setItems($scope.items);
                } else {
                    var filter = $scope.nameFilter.toLowerCase();
                    var filtered = [];
                    for (var i = 0; i < $scope.items.length; i++) {
                        var item = $scope.items[i];
                        if (!item.name)
                            continue;
                        if (item.name.toLowerCase().indexOf(filter) != -1)
                            filtered.push(item);
                    }
                    $scope.pager.setItems(filtered);
                }
            }
        
        };
        app.controller('Controller', Controller);
        
        // set the page data
        function setData(descriptors) {
            var items = makeItems(descriptors);
            var element = document.getElementById("contentDiv");
            var scope = angular.element(element).scope();
            scope.$apply(function () {
                scope.setData(items)
            });
        }
        
        // Transform the input descriptors to items for the table.
        function makeItems(descriptors) {
            var items = [];
            for (var i = 0; i < descriptors.length; i++) {
                var descriptor = descriptors[i];
                var item = {};
                for (var prop in descriptor) {
                    if (descriptor.hasOwnProperty(prop)) {
                        item[prop] = descriptor[prop];
                    }
                }
                item.image = getImage(descriptor);
                item.descriptor = descriptor;
                items.push(item);
            }
            return items;
        }
        
        // calls the external method 'openModel'
        function doOpenModel(item) {
            if (typeof (openModel) != 'undefined') {
                openModel(angular.toJson(item.descriptor));
            } else {
                console.log('openModel is not a registered function');
            }
        }
        
        // get the image for the
        function getImage(descriptor) {
            if (descriptor.type == 'PROJECT')
                return '../images/16x16_project_blue.png';
            if (descriptor.type == 'IMPACT_METHOD')
                return '../images/16x16_impact_method_blue.png';
            if (descriptor.type == 'PROCESS')
                return '../images/16x16_process_blue.png';
            if (descriptor.type == 'FLOW')
                return '../images/16x16_flow_blue.png';
            if (descriptor.type == 'FLOW_PROPERTY')
                return '../images/16x16_flow_property_blue.png';
            if (descriptor.type == 'UNIT_GROUP')
                return '../images/16x16_unit_group_blue.png';
            if (descriptor.type == 'UNIT_GROUP')
                return '../images/16x16_unit_group_blue.png';
            if (descriptor.type == 'ACTOR')
                return '../images/16x16_actor_blue.png';
            if (descriptor.type == 'SOURCE')
                return '../images/16x16_source_blue.png';
            else
                return '../images/16x16_flow_blue.png'; // TODO: unknown image
        }
    </script>

</body>

</html>