mixin community()
	#community.row
		.left
			.icon-container 
				img.icon(src='images/community.svg')
				h3!=msg.community.title
		.right
			p!=msg.community.socialMedia
			a(href='https://twitter.com/openlca')
				img.social-media-icon(src='images/twitter.svg')
			a(href='https://www.linkedin.com/groups/5060236/profile')
				img.social-media-icon(src='images/linkedin.svg')
		.center
			p!=msg.community.description
			p!=msg.community.note
		.clear