mixin header()
	header
		.row
			.left
				a(href='http://www.openlca.org')
					img.app-logo(src='images/logo_start_page.png')
			.center
				h1!=msg.title
				h2#version
		.row
			.right
				a.company-logo(href='http://www.greendelta.com')
			.center
				span!=msg.subtext.first
					br
					span!=msg.subtext.second
				p!=msg.subtext.third
		.clear
