mixin header()
	header
		.row
			.left
				img.app-logo(src='images/logo_start_page.png')
			.center
				h1!=msg.title
				h2#version
		.row
			.right
				a(href='http://www.greendelta.com' target='_blank')
					img.company-logo(src='images/greendelta-logo-active.png')
			.center
				p!=msg.subtext
		.clear
