mixin manuals()
	#manuals.row
		.left
			.icon-container 
				img.icon(src='images/manuals.svg')
				h3!=msg.manuals.title
		.right
			p!=msg.manuals.instructionalVideos
			a(href='https://www.youtube.com/channel/UCGiahq1YZWK4pRXDVXuIi6w')
				img.social-media-icon(src='images/youtube.svg')
		.center
			p!=msg.manuals.description
		.clear