<!DOCTYPE html>
<html data-ng-app="ProductSystemStatistics" id="ng-app">
<head>
	<meta charset="utf-8">
	<title>Product System Statistics</title>
	<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style type="text/css">
		#contentDiv {
			margin:20px;
		}		
	</style>	
</head>
<body>
	<div id="contentDiv" data-ng-controller="Controller">		
		<table class="table table-hover">
			<thead>
			<tr>
				<td><h3>General statistics:</h3></td>
				<td></td>
			<tr>
			</thead>
			<tbody>
			<tr>
				<td><h4>Number of processes</h4></td>
				<td ><h4>{{statistics.processCount}}</h4></td>
			</tr>
			<tr>
				<td><h4>Number of process links</h4></td>
				<td><h4>{{statistics.linkCount}}</h4></td>
			</tr>
			<tr>
				<td><h4>Connected graph / can calculate?</h4></td>
				<td>
					<h4>
					<span class="label label-success" data-ng-if="statistics.connectedGraph">yes</span>
					<span class="label label-danger" data-ng-if="!statistics.connectedGraph">no</span>
					</h4>
				</td>
			</tr>
			<tr>
				<td><h4>Technology matrix</h4></td>
				<td><h4>{{statistics.techMatrixSize}} x {{statistics.techMatrixSize}}</h4></td>
			</tr>			
			<tr>
				<td><h4>Reference process</h4></td>
				<td><h4><a href="#" data-ng-click="callOpenProcess(statistics.refProcess)">{{statistics.refProcess.name}}</a></h4></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="button" data-ng-click="callRecalculate()" class="btn btn-primary btn-lg">Recalculate</button></td>
			</tr>
			</tbody>		
		</table>
	
		<p> </p>
	
		<h3>Processes with highest in-degree (linked inputs):</h3>
		<table class="table table-hover">
			<thead>
			<tr>
				<td width="100px"></td>
				<td><h4>Number of input links</h4></td>
				<td><h4>Process</h4></td>
			<tr>
			</thead>		
			<tbody>			
			<tr data-ng-repeat="degreeVal in statistics.topInDegrees">
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" height="40px">
						<circle ng-indegree={{degreeVal.degree}} cx="25" cy="25" r="15" fill="#428bca" />
					</svg>			
				</td>
				<td><h4>{{degreeVal.degree}}</h4></td>
				<td class="text-left"><h4><a href="#" data-ng-click="callOpenProcess(degreeVal.process)">{{degreeVal.process.name}}</a></h4></td>				
			</tr>			
			</tbody>
		</table>
		
		<h3>Processes with highest out-degree (linked outputs)</h3>
		<table class="table table-hover">
			<thead>
			<tr>
				<td width="100px"></td>
				<td><h4>Number of output links</h4></td>
				<td><h4>Process</h4></td>
			<tr>
			</thead>		
			<tbody>			
			<tr data-ng-repeat="degreeVal in statistics.topOutDegrees">
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" height="40px">
						<circle ng-outdegree={{degreeVal.degree}} cx="25" cy="25" r="15" fill="#428bca" />
					</svg>			
				</td>
				<td><h4>{{degreeVal.degree}}</h4></td>
				<td class="text-left"><h4><a href="#" data-ng-click="callOpenProcess(degreeVal.process)">{{degreeVal.process.name}}</a></h4></td>				
			</tr>			
			</tbody>
		</table>	
	
	</div>
	<script src="libs/jquery.min.js"></script>
    <script src="libs/angular.min.js"></script>
	<script type="text/javascript">
	
		var app = angular.module('ProductSystemStatistics', []);
		
		var controller = function($scope) {
			$scope.statistics = {};
			
			$scope.callOpenProcess = function(process) {
				if(typeof(openProcess) !== 'undefined') {
					openProcess(angular.toJson(process));
				} else {
					console.log('openProcess is not a registered function');
				}
			};
			
			$scope.callRecalculate = function() {
				if(typeof(recalculate) !== 'undefined') {
					recalculate();
				} else {
					console.log('recalculate is not a registered function');
				}
			};
		};
		
		app.controller('Controller', controller);
		
		app.directive("ngIndegree", function() {
			return function(scope, element, attrs) {
				scope.$watch(attrs.ngIndegree, function(value) {
					var maxDegree = scope.statistics.topInDegrees[0].degree;
					var share = Math.sqrt(value) / Math.sqrt(maxDegree);
					var r = share * 15;					
					element.attr("r", r);
				});
			};
		});
		
		app.directive("ngOutdegree", function() {
			return function(scope, element, attrs) {
				scope.$watch(attrs.ngOutdegree, function(value) {
					var maxDegree = scope.statistics.topOutDegrees[0].degree;
					var share = Math.sqrt(value) / Math.sqrt(maxDegree);
					var r = share * 15;
					element.attr("r", r);
				});
			};
		});
						
		function setData(statistics) {
			var element = document.getElementById("contentDiv");
			var scope = angular.element(element).scope();
			scope.$apply(function () {
				scope.statistics = statistics;
			});
		}	
	</script>	
</body>	
</html>