# compiled files and libraries
bin
libs
platform
target

# generated mod-bindings; see ../gen-jython-bindings.js
src/org/openlca/app/devtools/python/mod_bindings.py

# IDE settings
/.idea
*.iml

/.classpath
/.gitignore
*.*~
*.log
