<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>
<contexts>
	<context id="context_navigationView" >
		<description>The navigation view provides the openLCA model components. Select one category and all contained elements will be displayed in the table below. If you want to take a look at or edit a selected object just double click and an editor will open.</description>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Actors.html" label="org.openlca.core.model.Actor"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Flow_properties.html" label="org.openlca.core.model.FlowProperty"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Flows.html" label="org.openlca.core.model.Flow"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/LCIA_methods.html" label="org.openlca.core.model.LCIAMethod"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Processes.html" label="org.openlca.core.model.Process"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Product_systems.html" label="org.openlca.core.model.ProductSystem"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Projects.html" label="org.openlca.core.model.Project"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Sources.html" label="org.openlca.core.model.Source"/>
  <topic href="../org.openlca.help/openLCA_Help/3_Elements_in_the_application/Unit_groups.html" label="org.openlca.core.model.UnitGroup"/>
	</context>
 <context id="context_searchView">
    <description>Here you can search for specific objects. Just select the type of component you want to search for and type in your search string.</description>
 </context>
</contexts>
