<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point id="org.openlca.app.editors.graphical.actions" name="org.openlca.app.editors.graphical.actions" schema="schema/org.openlca.app.editors.graphical.actions.exsd"/>
	<extension
		point="org.eclipse.ui.commandImages">
		<image
			commandId="org.eclipse.ui.file.save"
			icon="icons/save.png"
			disabledIcon="icons/save_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.file.saveAs"
			icon="icons/save_as.png"
			disabledIcon="icons/save_as_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.file.saveAll"
			icon="icons/save_all.png"
			disabledIcon="icons/save_all_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.undo"
			icon="icons/save_all.png"
			disabledIcon="icons/save_all_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.redo"
			icon="icons/save_all.png"
			disabledIcon="icons/save_all_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.delete"
			icon="icons/delete.png"
			disabledIcon="icons/delete_disabled.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.copy"
			icon="icons/copy.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.cut"
			icon="icons/cut.png">
		</image>
		<image
			commandId="org.eclipse.ui.edit.paste"
			icon="icons/paste.png">
		</image>
		<image
			commandId="org.eclipse.ui.window.preferences"
			icon="icons/preferences.png">
		</image>
		<image
			commandId="org.eclipse.ui.file.import"
			icon="icons/import.png">
		</image>
		<image
			commandId="org.eclipse.ui.file.export"
			icon="icons/export.png">
		</image>
	</extension>
	<extension
         point="org.eclipse.ui.editors">
         
      <editor 
			class="org.openlca.app.editors.StartPage"
			default="false"
			id="olca.StartPage"
			name="%Welcome"
			icon="icons/home.png">      
      </editor>
      
      <editor 
			class="org.openlca.app.editors.CommentsEditor"
			default="false"
			id="CommentsEditor"
			name="%Comments"
			icon="icons/cloud/show_comments.png">      
      </editor>
      
      <!-- developer tools -->
      <editor
            class="org.openlca.app.devtools.sql.SqlEditor"
            contributorClass="org.openlca.app.devtools.Toolbar"
            default="false"
            icon="icons/sql.png"
            id="SqlEditor"
            name="SQL">
      </editor>
      <editor
      		class="org.openlca.app.devtools.js.JavaScriptEditor"
      		default="false"
      		id="JavaScriptEditor"
      		name="JavaScript"
      		icon="icons/javascript.png"
      		contributorClass="org.openlca.app.devtools.Toolbar">
      </editor>
       <editor
      		class="org.openlca.app.devtools.python.PythonEditor"
      		default="false"
      		id="PythonEditor"
      		name="Python"
      		icon="icons/python.png"
      		contributorClass="org.openlca.app.devtools.Toolbar">
      </editor>      
      
      <!-- model editors -->
      <editor
            class="org.openlca.app.editors.actors.ActorEditor"
            default="false"
            icon="icons/model/actor.png"
            id="editors.actor"
            name="%ActorEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.sources.SourceEditor"
            default="false"
            icon="icons/model/source.png"
            id="editors.source"
            name="%SourceEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.units.UnitGroupEditor"
            default="false"
            icon="icons/model/unit_group.png"
            id="editors.unitgroup"
            name="%UnitGroupEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.flow_properties.FlowPropertyEditor"
            default="false"
            icon="icons/model/flow_property.png"
            id="editors.flowproperty"
            name="%FlowPropertyEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.flows.FlowEditor"
            default="false"
            icon="icons/model/flow.png"
            id="editors.flow"
            name="%FlowEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.lcia_methods.ImpactMethodEditor"
            default="false"
            icon="icons/model/impact_method.png"
            id="editors.impactmethod"
            name="%ImpactMethodEditor">
      </editor>
      <editor
            class="org.openlca.app.editors.processes.ProcessEditor"
            default="false"
            icon="icons/model/process.png"
            id="editors.process"
            name="%ProcessEditor"
            contributorClass="org.openlca.app.editors.processes.ProcessToolbar">
      </editor>
      <editor
            class="org.openlca.app.editors.projects.ProjectEditor"
            default="false"
            icon="icons/model/project.png"
            id="editors.project"
            name="%ProjectEditor"
            contributorClass="org.openlca.app.editors.projects.ProjectEditorActions">
      </editor>
      <editor
            class="org.openlca.app.editors.systems.ProductSystemEditor"
            default="false"
            icon="icons/model/product_system.png"
            id="editors.productsystem"
            name="%ProductSystemEditor" 
            contributorClass="org.openlca.app.editors.systems.ProductSystemActions">
      </editor>
      <editor
            class="org.openlca.app.editors.social.SocialIndicatorEditor"
            default="false"
            icon="icons/model/social_indicator.png"
            id="editors.socialindicator"
            name="Social indicator">
      </editor>
      <editor
            class="org.openlca.app.editors.costs.CurrencyEditor"
            default="false"
            icon="icons/model/currency.png"
            id="editors.currency"
            name="Currency">
      </editor>
      <editor
            class="org.openlca.app.editors.dq_systems.DQSystemEditor"
            default="false"
            icon="icons/model/data_quality_system.png"
            id="editors.dqsystem"
            name="%ActorEditor">
      </editor>
            
      <!-- result views -->
      <editor
            class="org.openlca.app.results.quick.QuickResultEditor"
            default="false"
            icon="icons/quick_calculation.png"
            id="QuickResultEditor"
            name="Quick results"
            contributorClass="org.openlca.app.results.quick.QuickResultActions">
      </editor>
      <editor
            class="org.openlca.app.results.analysis.AnalyzeEditor"
            contributorClass="org.openlca.app.results.analysis.AnalyzeResultActions"
            default="false"
            icon="icons/analysis.png"
            id="editors.analyze"
            name="Analyze viewer">
      </editor>
      <editor
            class="org.openlca.app.results.simulation.SimulationEditor"
            default="false"
            icon="icons/calculation/simulate.png"
            id="SimulationEditor"
            name="Simulation Editor">
      </editor> 
      <editor
            class="org.openlca.app.results.regionalized.RegionalizedResultEditor"
            contributorClass="org.openlca.app.results.regionalized.RegionalizedResultActions"
            icon="icons/model/impact_method.png"
            id="RegionalizedResultEditor"
            name="Regionalized LCIA result">
      </editor>   
      <editor
            id="ReportViewer"
            class="org.openlca.app.editors.reports.ReportViewer"
            icon="icons/model/project.png"
            name="%ReportViewer"
            contributorClass="org.openlca.app.editors.reports.ReportToolbar">
      </editor> 
      <editor
            id="editors.LogFileEditor"
            class="org.openlca.app.editors.LogFileEditor"
            icon="icons/file.png"
            name="Log file">
      </editor>       
      <editor
            class="org.openlca.app.editors.graphical.ProductSystemGraphEditor"
            default="false"
            icon="icons/model/product_system.png"
            id="editors.productsystem.graphical"
            name="Product system graphical editor">
      </editor>  
      <editor
            id="SearchPage"
            class="org.openlca.app.search.SearchPage"
            icon="icons/search.png"
            default="false"
            name="%SearchResults">
      </editor>
      <editor
            id="ParameterUsagePage"
            class="org.openlca.app.search.ParameterUsagePage"
            icon="icons/link.png"
            default="false"
            name="Parameter usage">
      </editor>
	  <editor
            class="org.openlca.app.editors.locations.LocationEditor"
            default="false"
            icon="icons/model/location.png"
            id="editors.location"
            name="Location editor">
      </editor>	  

	  <editor
            class="org.openlca.app.editors.parameters.GlobalParameterEditor"
            default="false"
            icon="icons/model/parameter.png"
            id="editors.parameter"
            name="Global parameter editor">
      </editor>	  

      <editor
            class="org.openlca.app.db.LinkingPropertiesPage"
            default="false"
            icon="icons/model/database.png"
            id="editors.LinkingPropertiesPage"
            name="Linking properties">
      </editor>

   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.openlca.app.wizards.ActorWizard"
            icon="icons/wizard/actor.png"
            id="wizards.new.actor"
            name="%Actors">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.SourceWizard"
            icon="icons/wizard/source.png"
            id="wizards.new.source"
            name="%Sources">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.LocationWizard"
            icon="icons/wizard/location.png"
            id="wizards.new.location"
            name="Locations wizard">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ParameterWizard"
            icon="icons/wizard/parameter.png"
            id="wizards.new.parameter"
            name="Global parameters wizard">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.UnitGroupWizard"
            icon="icons/wizard/unit_group.png"
            id="wizards.new.unitgroup"
            name="%UnitGroups">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.FlowPropertyWizard"
            icon="icons/wizard/flow_property.png"
            id="wizards.new.flowproperty"
            name="%FlowProperties">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.FlowWizard"
            icon="icons/wizard/flow.png"
            id="wizards.new.flow"
            name="%Flows">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ImpactMethodWizard"
            icon="icons/wizard/impact_method.png"
            id="wizards.new.impactmethod"
            name="%LCIAMethods">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProcessWizard"
            icon="icons/wizard/process.png"
            id="wizards.new.process"
            name="%Processes">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProjectWizard"
            icon="icons/wizard/project.png"
            id="wizards.new.project"
            name="%Projects">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProductSystemWizard"
            icon="icons/wizard/product_system.png"
            id="wizards.new.productsystem"
            name="%ProductSystems">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.SocialIndicatorWizard"
            icon="icons/wizard/social_indicator.png"
            id="wizards.new.socialindicator"
            name="Social indicator">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.CurrencyWizard"
            icon="icons/wizard/currency.png"
            id="wizards.new.currency"
            name="Currency">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.DQSystemWizard"
            icon="icons/wizard/data_quality_system.png"
            id="wizards.new.dqsystem"
            name="%DQSystems">
      </wizard>
   </extension>   
   
   <extension
         id="org.openlca.app.Application"
         name="openLCA"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openlca.app.rcp.RcpApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective"
            class="org.openlca.app.rcp.RcpPerspective"
            id="perspectives.standard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.openlca.app.navigation.Navigator"
            icon="icons/categories.png"
            id="views.navigation"
            name="%Navigation">
      </view>
      <view
            class="org.openlca.app.cloud.ui.commits.HistoryView"
            id="views.cloud.history"
            name="Commit history"
            restorable="true">
      </view>
      <view
            class="org.openlca.app.validation.ValidationView"
            id="views.problems"
            name="Problems"
            restorable="true">
      </view>
      <view
            class="org.openlca.app.cloud.ui.diff.SyncView"
            id="views.cloud.sync"
            name="Sync repository"
            icon="icons/cloud/sync.png"
            restorable="true">
      </view>  
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
	  <page
            class="org.openlca.app.logging.LoggerConfigPage"
            id="preferencepages.logging"
            name="%Logging">
      </page>
      <page
      		class="org.openlca.app.preferencepages.NumberFormatPage"
      		id="preferencepages.numberformat"
      		name="%NumberFormat">
      </page>
      <page
            class="org.openlca.app.preferencepages.FeatureFlagPage"
            id="preferencepages.featureflag"
            name="Experimental features">
      </page>
      <page
            class="org.openlca.app.preferencepages.IoPreferencePage"
            id="org.openlca.io.IoPreferencePage"
            name="%ImportExport">
      </page>
      <page
            id="preferencepages.config"
            class="org.openlca.app.preferencepages.ConfigPage"
            name="%Configuration">
      </page>
      <page
            class="org.openlca.app.cloud.ui.preferences.CloudPreferencePage"
            id="preferencepages.cloud"
            name="Collaboration">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.trim.command2">
               <toolbar
                     id="olca-app.search.toolbar">
                     <control
                     	class="org.openlca.app.search.SearchText"
                     	id="org.openlca.app.SearchText">
               		 </control>
               </toolbar>
         </menuContribution>
   </extension>
   <extension
         id="openLCA"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.openlca.app.Application"
            name="openLCA">
         <property
               name="windowImages"
               value="icons/logo/16_32bit.png,icons/logo/32_32bit.png,icons/logo/48_32bit.png,icons/logo/64.png,icons/logo/128.png">
         </property>
         <property
               name="aboutText"
               value="openLCA 1.7.4&#x0A;&#x0A;Copyright (c) 2007 - 2018 GreenDelta. All rights reserved.&#x0A;Visit http://openlca.org and http://greendelta.com&#x0A;&#x0A;This product includes software developed in the openLCA &#x0A;project and other open source software.">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="appName"
               value="openLCA">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/logo/glowing.png" />
         <property
               name="introBrandingImageText"
               value="openLCA" />
         <property
               name="startupProgressRect"
               value="0,382,540,5">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,525,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="views.navigation">
            <options>
		         <property
		            name="org.eclipse.ui.navigator.hideCollapseAllAction"
		            value="true">
		         </property>
		         <property
		            name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
		            value="true">
		         </property>
			</options>           
      </viewer>
      <viewerContentBinding
            viewerId="views.navigation">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="navigatorcontent.context">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.emptycategory">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.productflow">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.elementaryflow">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.wasteflow">
            </contentExtension>
			<contentExtension 
				  pattern="navigator.linkHelper">
			</contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="views.navigation">
         <includes>
            <actionExtension
                  pattern="actionprovider.navigation">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.openlca.app.navigation.NavigationDragAssistant"
            viewerId="views.navigation">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openlca.app.navigation.NavigationContentProvider"
            id="navigatorcontent.context"
            labelProvider="org.openlca.app.navigation.NavigationLabelProvider"
            name="%DataProvider"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.openlca.app.navigation.INavigationElement">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="org.openlca.app.navigation.NavigationSorter">
         </commonSorter>
         <dropAssistant
               class="org.openlca.app.navigation.NavigationDropAssistant"
               id="dropassistant.navigation">
            <possibleDropTargets>
               <instanceof
                     value="org.openlca.app.navigation.INavigationElement">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
         <possibleChildren>
            <instanceof
                  value="org.openlca.app.navigation.INavigationElement">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.openlca.app.navigation.actions.NavigationActionProvider"
            id="actionprovider.navigation"
            priority="normal">
         <enablement></enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.EmptyCategoryFilter"
            id="viewer.filter.emptycategory"
            name="%EmptyCategories">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.ProductFlowFilter"
            id="viewer.filter.productflow"
            name="%ProductFlows">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.ElementaryFlowFilter"
            id="viewer.filter.elementaryflow"
            name="%ElementaryFlows">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.WasteFlowFilter"
            id="viewer.filter.wasteflow"
            name="%WasteFlows">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
	            class="org.openlca.app.navigation.NavigationLinkHelper"
	            id="navigator.linkHelper">
         <selectionEnablement>
            <instanceof value="org.openlca.app.navigation.ModelElement"/>
	     </selectionEnablement>
	     <editorInputEnablement>
			<instanceof value="org.openlca.app.editors.ModelEditorInput"/>
	     </editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openlca.app.logging.LoggerPreference">
      </initializer>
      <initializer
            class="org.openlca.app.Preferences">
      </initializer>
      <initializer
            class="org.openlca.app.preferencepages.IoPreference">
      </initializer>
      <initializer
            class="org.openlca.app.cloud.ui.preferences.CloudPreference">
      </initializer>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="import.category.file"
            name="File Import">
      </category>
       <category
               id="import.category.ilcdnetwork"
               name="%ILCDNetworkImport">
       </category>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.EcoSpold01ImportWizard"
            icon="icons/file/xml_es1.png"
            id="wizard.import.ecospold1"
            name="%EcoSpold">
      </wizard>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.EcoSpold2ImportWizard"
            icon="icons/file/xml_es2.png"
            id="wizard.import.ecospold2"
            name="EcoSpold 2">
         <description>
            Import EcoSpold 2 files
         </description>
      </wizard>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.ILCDImportWizard"
            icon="icons/file/ilcd.png"
            id="wizard.import.ilcd"
            name="ILCD">
      </wizard>
       <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.ExcelImportWizard"
            icon="icons/file/excel.png"
            id="wizard.import.excel"
            name="Excel">
      </wizard>
       <wizard
            category="import.category.ilcdnetwork"
            class="org.openlca.app.ilcd_network.ImportWizard"
            icon="icons/network.png"
            id="wizard.import.ilcdnetwork"
            name="%ILCDNetworkImport">
      </wizard>
      <wizard
           class="org.openlca.app.wizards.io.DbImportWizard"
           icon="icons/logo/16_32bit.png"
           id="wizard.import.db"
           name="%ImportEntireDatabase">
           <description>%ImportEntireDatabase_Info</description>
      </wizard>
      <wizard
      		class="org.openlca.app.wizards.io.JsonImportWizard"
      		icon="icons/logo/16_32bit.png"
            id="wizard.import.json"
            name="Linked Data (JSON-LD)">
      </wizard>
  	  <wizard
	       category="import.category.file"
		   class="org.openlca.app.wizards.io.SimaProCsvImportWizard"
		   icon="icons/simapro.png"
		   id="wizard.import.csv"
		   name="SimaPro CSV">
		   <description>Import SimaPro CSV files.</description>
	   </wizard>
	   <wizard
          class="org.openlca.app.editors.locations.KmzImportWizard"
          icon="icons/file/xml.png"
          id="wizard.import.kmz"
          name="EcoSpold2 geographies">
       </wizard>
	   <wizard
          class="org.openlca.app.editors.locations.KmlImportWizard"
          icon="icons/file/xml.png"
          id="wizard.import.kml"
          name="KML geographies">
       </wizard>
    <wizard
          class="org.openlca.app.wizards.io.RepositoryImportWizard"
          icon="icons/cloud/logo.png"
          id="wizard.import.repository"
          name="Repository Import">
    </wizard>
   </extension>
   
   <!-- export wizards -->
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="export.category.ecospold"
            name="EcoSpold">
      </category>
      <category
            id="export.category.excel"
            name="Excel">
      </category>
      <category
            id="export.category.ilcd"
            name="ILCD">
      </category>
      <category
      		id="openlca.export.category"
      		name="openLCA">
      </category>
      <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold01ExportProcessWizard"
            icon="icons/file/xml_es1.png"
            id="wizard.export.ecospold.process"
            name="%Processes">
       </wizard>
       <wizard
            category="export.category.excel"
            class="org.openlca.app.wizards.io.ExcelExportWizard"
            icon="icons/file/excel.png"
            id="wizard.export.excel.process"
            name="%Processes">
       </wizard>
       <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold2ExportWizard"
            icon="icons/file/xml_es2.png"
            id="wizard.export.ecospold.process"
            name="EcoSpold 2">
         <description>
            Export processes as EcoSpold 2 activity data sets
         </description>
      </wizard>
      <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold01ExportMethodWizard"
            icon="icons/file/xml_es1.png"
            id="wizard.export.ecospold.impactmethod"
            name="%ImpactMethods">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportWizard"
            icon="icons/file/ilcd.png"
            id="wizard.export.source"
            name="ILCD Zip-File">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.ilcd_network.ExportWizard"
            icon="icons/network.png"
            id="org.openlca.ilcd.network.ExportWizard"
            name="%ILCDNetworkExport">
      </wizard>
      <wizard
      		category="openlca.export.category"
      		class="org.openlca.app.wizards.io.JsonExportWizard"
      		icon="icons/logo/16_32bit.png"
      		id="org.openlca.app.wizards.io.JsonExportWizard"
      		name="JSON-LD">
      </wizard>
   </extension>

</plugin>
