<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.openlca.app.plugin" name="openLCA Plugin" schema="schema/org.openlca.app.plugin.exsd"/>

	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openlca.app.editors.ActorEditor"
            default="false"
            icon="icons/actor_obj.png"
            id="editors.actor"
            name="%editors.name">
      </editor>
      <editor
            class="org.openlca.app.editors.SourceEditor"
            default="false"
            icon="icons/source_obj.png"
            id="editors.source"
            name="%editors.name.5">
      </editor>
      <editor
            class="org.openlca.app.editors.UnitGroupEditor"
            default="false"
            icon="icons/unitgroup_obj.gif"
            id="editors.unitgroup"
            name="%editors.name.6">
      </editor>
      <editor
            class="org.openlca.app.editors.FlowPropertyEditor"
            default="false"
            icon="icons/flowprop_obj.gif"
            id="editors.flowproperty"
            name="%editors.name.1">
      </editor>
      <editor
            class="org.openlca.app.editors.FlowEditor"
            default="false"
            icon="icons/flow_obj.gif"
            id="editors.flow"
            name="%editors.name.0">
      </editor>
      <editor
            class="org.openlca.app.lcia_methods.ImpactMethodEditor"
            default="false"
            icon="icons/LCIA_obj.gif"
            id="editors.impactmethod"
            name="%editors.name.2">
      </editor>
      <editor
            class="org.openlca.app.processes.ProcessEditor"
            default="false"
            icon="icons/proc_obj.gif"
            id="editors.process"
            name="%editors.name.7">
      </editor>
      <editor
            class="org.openlca.app.projects.ProjectEditor"
            default="false"
            icon="icons/project_obj.png"
            id="editors.project"
            name="%editors.name.4"
            contributorClass="org.openlca.app.projects.ProjectEditorActions">
      </editor>
      <editor
            class="org.openlca.app.systems.ProductSystemEditor"
            default="false"
            icon="icons/model.gif"
            id="editors.productsystem"
            name="%editors.name.3" 
            contributorClass="org.openlca.app.systems.ProductSystemActions">
      </editor>
      <editor
            class="org.openlca.app.inventory.InventoryResultEditor"
            default="false"
            icon="icons/expression_obj.gif"
            id="InventoryResultEditor"
            name="Quick results"
            contributorClass="org.openlca.app.inventory.InventoryResultActions">
      </editor>
      <editor
            id="ProjectResultEditor"
            class="org.openlca.app.projects.ProjectResultEditor"
            default="false"
            icon="icons/chart.png"
            name="Project results"
            contributorClass="org.openlca.app.projects.ProjectResultActions">
      </editor>
      <editor
            class="org.openlca.app.analysis.AnalyzeEditor"
            default="false"
            icon="icons/analyze.gif"
            id="editors.analyze"
            name="Analyze viewer"
            contributorClass="org.openlca.app.analysis.AnalysisEditorActions">
      </editor>
      <editor
            class="org.openlca.app.simulation.SimulationEditor"
            default="false"
            icon="icons/simulate_16.png"
            id="SimulationEditor"
            name="Simulation Editor">
      </editor>      
      <editor
            class="org.openlca.core.editors.result.CostResultEditor"
            default="false"
            icon="icons/simulate_16.png"
            id="editors.costresult"
            name="Cost results">
      </editor>
      <editor
            class="org.openlca.app.editors.UsageView"
            default="false"
            icon="icons/16x16_link_blue.png"
            id="editors.usage"
            name="%usage">
      </editor>
      <editor
            class="org.openlca.app.editors.graphical.ProductSystemGraphEditor"
            default="false"
            icon="icons/model.gif"
            id="editors.productsystem.graphical"
            name="Product system graphical editor">
      </editor>  
      <editor
            id="SearchResultView"
            class="org.openlca.app.SearchResultView"
            icon="icons/search_obj.png"
            default="false"
            name="Search result view">
      </editor>    
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.openlca.app.wizards.ActorWizard"
            icon="icons/actor_obj_new.png"
            id="wizards.new.actor"
            name="%wizard.name">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.SourceWizard"
            icon="icons/source_obj_new.png"
            id="wizards.new.source"
            name="%wizard.name.0">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.UnitGroupWizard"
            icon="icons/unitgroup_obj_new.gif"
            id="wizards.new.unitgroup"
            name="%wizard.name.1">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.FlowPropertyWizard"
            icon="icons/flowprop_obj_new.gif"
            id="wizards.new.flowproperty"
            name="%wizard.name.2">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.FlowWizard"
            icon="icons/flow_obj_new.gif"
            id="wizards.new.flow"
            name="%wizard.name.4">
      </wizard>
      <wizard
            class="org.openlca.app.lcia_methods.ImpactMethodWizard"
            icon="icons/LCIA_obj_new.gif"
            id="wizards.new.impactmethod"
            name="%wizard.name.1">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProcessWizard"
            icon="icons/proc_obj_new.gif"
            id="wizards.new.process"
            name="%wizard.name.3">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProjectWizard"
            icon="icons/project_obj_new.png"
            id="wizards.new.project"
            name="%wizard.name.5">
      </wizard>
      <wizard
            class="org.openlca.app.wizards.ProductSystemWizard"
            icon="icons/chart_organisation_new.png"
            id="wizards.new.productsystem"
            name="%wizard.name.6">
      </wizard>
   </extension>   
   
   <extension
         id="org.openlca.app.Application"
         name="openLCA"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openlca.app.RcpApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="org.openlca.app.RcpPerspective"
            id="perspectives.standard">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.openlca.app.navigation.Navigator"
            icon="icons/categories.gif"
            id="views.navigation"
            name="%view.name">
      </view>
      <category
            id="mapping.cat"
            name="MappingName">
      </category>  
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
	  <page
            class="org.openlca.app.preferencepages.LocationPreferencePage"
            id="preferencepages.location"
            name="%page.name.2">
      </page>
      <page
            class="org.openlca.app.preferencepages.DatabaseParameterPage"
            id="preferencepages.parameters"
            name="%page.name.1">
      </page>
      <page
            category="org.eclipse.ant.ui.AntCodeAssistPreferencePage"
            class="org.openlca.app.preferencepages.MappingPage"
            id="preferencepages.mapping"
            name="Mapping">
      </page>
      <page
            class="org.openlca.app.logging.LoggerConfigPage"
            id="preferencepages.logging"
            name="%logger.config.page.name">
      </page>
      <page
      		class="org.openlca.app.preferencepages.NumberFormatPage"
      		id="preferencepages.numberformat"
      		name="%number.format.page.name">
      </page>
      <page
            class="org.openlca.app.update.UpdatePreferencePage"
            id="preferencepages.update"
            name="%update.preference.page.name">
      </page>
      <page
            class="org.openlca.app.preferencepages.FeatureFlagPage"
            id="preferencepages.featureflag"
            name="Experimental features">
      </page>
      
      <page
            class="org.openlca.app.ilcd_network.PreferencePage"
            id="preferencepages.ilcdnetwork"
            name="%ilcd.net.preference.page.name">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="openLCA Updates"
            id="commands.category.updates">
      </category>
      <command
            name="%updatecheck.commandlabel"
            categoryId="commands.category.updates"
            id="commands.updatecheck">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="commands.updatecheck"
            class="org.openlca.app.update.UpdateCheckHandler">
      </handler>
   </extension>
   
    <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.trim.command2">
               <toolbar
                     id="olca-app.search.toolbar">
                     <control
                     	class="org.openlca.app.SearchText"
                     	id="org.openlca.app.SearchText">
               		 </control>
               </toolbar>
         </menuContribution>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml"
            plugin="olca-app">
      </contexts>
   </extension>
   <extension
         id="openLCA"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.openlca.app.Application"
            name="openLCA">
         <property
               name="windowImages"
               value="icons/logo_16_32bit.png,icons/logo_32_32bit.png,icons/logo_48_32bit.png,icons/logo_64.png,icons/logo_128.png">
         </property>
         <property
               name="aboutText"
               value="openLCA 1.4.0&#x0A;&#x0A;Copyright (c) 2007 - 2013 GreenDelta. All rights reserved.&#x0A;Visit http://openlca.org and http://greendelta.com&#x0A;&#x0A;This product includes software developed in the openLCA &#x0A;project and other open source software.">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="appName"
               value="openLCA">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/logo_glowing.png" />
         <property
               name="introBrandingImageText"
               value="openLCA" />
         <property
               name="introTitle"
               value="%introTitle" />
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="views.navigation">
      </viewer>
      <viewerContentBinding
            viewerId="views.navigation">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="navigatorcontent.context">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.emptycategory">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.productflow">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.elementaryflow">
            </contentExtension>
            <contentExtension
                  pattern="viewer.filter.wasteflow">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="views.navigation">
         <includes>
            <actionExtension
                  pattern="actionprovider.navigation">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.openlca.app.navigation.NavigationDragAssistant"
            viewerId="views.navigation">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openlca.app.navigation.NavigationContentProvider"
            id="navigatorcontent.context"
            labelProvider="org.openlca.app.navigation.NavigationLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.openlca.app.navigation.INavigationElement">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="org.openlca.app.navigation.NavigationSorter">
         </commonSorter>
         <dropAssistant
               class="org.openlca.app.navigation.NavigationDropAssistant"
               id="dropassistant.navigation">
            <possibleDropTargets>
               <instanceof
                     value="org.openlca.app.navigation.INavigationElement">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
         <possibleChildren>
            <instanceof
                  value="org.openlca.app.navigation.INavigationElement">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.openlca.app.navigation.NavigationActionProvider"
            id="actionprovider.navigation"
            priority="normal">
         <enablement></enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.EmptyCategoryFilter"
            id="viewer.filter.emptycategory"
            name="%commonFilter.name">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.ProductFlowFilter"
            id="viewer.filter.productflow"
            name="%commonFilter.name.0">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.ElementaryFlowFilter"
            id="viewer.filter.elementaryflow"
            name="%commonFilter.name.1">
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.openlca.app.navigation.filters.WasteFlowFilter"
            id="viewer.filter.wasteflow"
            name="%commonFilter.name.2">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openlca.app.logging.LoggerPreference">
      </initializer>
      <initializer
            class="org.openlca.app.Preferences">
      </initializer>
      <initializer
            class="org.openlca.app.ilcd_network.Preference">
      </initializer>
      <initializer
            class="org.openlca.app.update.UpdatePreference">
      </initializer>
      <initializer
            class="org.openlca.app.update.UpdatePreference">
      </initializer>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="import.category.file"
            name="File Import">
      </category>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.EcoSpold01ImportWizard"
            icon="icons/xml.png"
            id="wizard.import.ecospold1"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.EcoSpold2ImportWizard"
            icon="icons/xml.png"
            id="wizard.import.ecospold2"
            name="EcoSpold 2">
         <description>
            Import EcoSpold 2 files
         </description>
      </wizard>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.ILCDImportWizard"
            icon="icons/ilcd16.png"
            id="wizard.import.ilcd"
            name="ILCD">
         <description>
            %ilcd.import.description
         </description>
      </wizard>
      <category
            id="import.category.ilcdnetwork"
            name="%ilcd.net.import.category.name">
      </category>
      <wizard
            category="import.category.file"
            class="org.openlca.app.wizards.io.CSVImportWizard"
            icon="icons/simaPro.png"
            id="wizard.import.csv"
            name="SimaPro CSV">
         <description>
            Import SimaPro CSV files.
         </description>
      </wizard>
      <wizard
            category="import.category.ilcdnetwork"
            class="org.openlca.app.ilcd_network.ImportWizard"
            icon="icons/network16.png"
            id="wizard.import.ilcdnetwork"
            name="%ilcd.net.import.wizard.name">
         <description>
            %ilcd.net.import.wizard.description
         </description>
      </wizard>
   </extension>
   
   <!-- export wizards -->
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="export.category.ecospold"
            name="EcoSpold">
      </category>
      <category
            id="export.category.ilcd"
            name="ILCD">
      </category>
      <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold01ExportProcessWizard"
            icon="icons/xml.png"
            id="wizard.export.ecospold.process"
            name="%wizard.name.0">
         <description>
            %wizard.description.0
         </description>
      </wizard>
       <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold2ExportWizard"
            icon="icons/xml.png"
            id="wizard.export.ecospold.process"
            name="EcoSpold 2">
         <description>
            Export processes as EcoSpold 2 activity data sets
         </description>
      </wizard>
      <wizard
            category="export.category.ecospold"
            class="org.openlca.app.wizards.io.EcoSpold01ExportMethodWizard"
            icon="icons/xml.png"
            id="wizard.export.ecospold.impactmethod"
            name="%wizard.name.1">
         <description>
            %wizard.description.1
         </description>
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportSystemWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.ilcd.productsystem"
            name="%wizard.name.7">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportProcessWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.ilcd.process"
            name="%wizard.name.3">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportFlowWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.ilcd.flow"
            name="%wizard.name.4">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportFlowPropertyWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.ilcd.flowproperty"
            name="%wizard.name.5">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportUnitGroupWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.ilcd.unitgroup"
            name="%wizard.name.6">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDExportActorWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.actor"
            name="%Actors">
      </wizard>
      <wizard
            category="export.category.ilcd"
            class="org.openlca.app.wizards.io.ILCDSourceExportWizard"
            icon="icons/ilcd16.png"
            id="wizard.export.source"
            name="%Sources">
      </wizard>
      <category
            id="export.category.ilcdnetwork"
            name="%ilcd.net.export.category.name">
      </category>
      <wizard
            category="export.category.ilcdnetwork"
            class="org.openlca.app.ilcd_network.ExportWizard"
            icon="icons/network16.png"
            id="org.openlca.ilcd.network.ExportWizard"
            name="%ilcd.net.export.wizard.name">
      </wizard>
   </extension>
   
   
      
   
   
   
</plugin>
