<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- import wizards -->

  <extension
         point="org.eclipse.ui.importWizards">
       <category
            id="org.openlca.io.ui.importFilesCategory"
            name="File Import">
      </category> 
         
      <wizard
            class="org.openlca.io.ui.ecospold1.importer.EcoSpold01ImportWizard"
            icon="icons/xml.png"
            id="org.openlca.io.ui.ecospold1.EcoSpoldImportWizard"
            name="%wizard.name"
            category="org.openlca.io.ui.importFilesCategory">
         <description>
            %wizard.description
         </description>
      </wizard>
      
      <wizard
            class="org.openlca.io.ui.ecospold2.EcoSpold2ImportWizard"
            icon="icons/xml.png"
            id="org.openlca.io.ui.ecospold2.EcoSpold2ImportWizard"
            name="EcoSpold 2"
            category="org.openlca.io.ui.importFilesCategory">
         <description>
            Import EcoSpold 2 files
         </description>
      </wizard>
      
      <wizard
            class="org.openlca.io.ui.ilcd.importer.ILCDImportWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.importer.ILCDImportWizard"
            name="ILCD"
            category="org.openlca.io.ui.importFilesCategory">
         <description>
            %ilcd.import.description
         </description>
      </wizard>      
   </extension>
   
   <!-- export wizards -->
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.openlca.io.ui.ecospold"
            name="EcoSpold">
      </category>
      <category
            id="org.openlca.io.ui.ilcd"
            name="ILCD">
      </category>
      <wizard
            category="org.openlca.io.ui.ecospold"
            class="org.openlca.io.ui.ecospold1.exporter.EcoSpold01ExportProcessWizard"
            icon="icons/xml.png"
            id="org.openlca.io.ui.ecospold1.EcoSpoldExportProcessWizard"
            name="%wizard.name.0">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <!-- not yet included
      <wizard
            category="org.openlca.io.ui.ecospold"
            class="org.openlca.io.ui.ecospold2.EcoSpold2ExportWizard"
            icon="icons/xml.png"
            id="org.openlca.io.ui.ecospold2.EcoSpold2ExportWizard"
            name="Processes - EcoSpold 2">
         <description>
            Export processes to EcoSpold 2
         </description>
      </wizard>
      -->
      <wizard
            category="org.openlca.io.ui.ecospold"
            class="org.openlca.io.ui.ecospold1.exporter.EcoSpold01ExportMethodWizard"
            icon="icons/xml.png"
            id="org.openlca.io.ui.ecospold1.exporter.EcoSpold01ExportMethodWizard"
            name="%wizard.name.1">
         <description>
            %wizard.description.1
         </description>
      </wizard>
       <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDExportSystemWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDExportSystemWizard"
            name="%wizard.name.7">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDExportProcessWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDExportProcessWizard"
            name="%wizard.name.3">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDExportFlowWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDExportFlowWizard"
            name="%wizard.name.4">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDExportFlowPropertyWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDExportFlowPropertyWizard"
            name="%wizard.name.5">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDExportUnitGroupWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.wizard4"
            name="%wizard.name.6">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDActorExportWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDActorExportWizard"
            name="%Actors">
      </wizard>
      <wizard
            category="org.openlca.io.ui.ilcd"
            class="org.openlca.io.ui.ilcd.exporter.ILCDSourceExportWizard"
            icon="icons/ilcd16.png"
            id="org.openlca.io.ui.ilcd.exporter.ILCDSourceExportWizard"
            name="%Sources">
      </wizard>
   </extension>
   
   <extension
         point="org.openlca.core.application.exportAction">
      <exportAction
            exportAction="org.openlca.io.ui.ecospold1.exporter.ExportToEcoSpold1Action">
         <allowedClass className="org.openlca.core.model.Process"/>
         <allowedClass className="org.openlca.core.model.LCIAMethod"/>
      </exportAction>
      <exportAction
            exportAction="org.openlca.io.ui.ilcd.exporter.ILCDExportAction">
         <allowedClass className="org.openlca.core.model.ProductSystem" />
         <allowedClass className="org.openlca.core.model.Process" />
         <allowedClass className="org.openlca.core.model.Flow" />
         <allowedClass className="org.openlca.core.model.FlowProperty" />
         <allowedClass className="org.openlca.core.model.UnitGroup" />
         <allowedClass className="org.openlca.core.model.Source" />
         <allowedClass className="org.openlca.core.model.Actor" />      
       </exportAction>
   </extension>
   
   <extension
         point="org.openlca.core.application.importAction">
      <importAction
            importAction="org.openlca.io.ui.ecospold1.importer.ImportEcoSpold1Action">
      </importAction>
      <importAction
            importAction="org.openlca.io.ui.ilcd.importer.ImportILCDAction">
      </importAction>
   </extension>
   
    <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.openlca.ilcd.network.wizards.category"
            name="%ilcd.net.import.category.name">
      </category>
      <wizard
            category="org.openlca.ilcd.network.wizards.category"
            class="org.openlca.ilcd.network.rcp.ui.ImportWizard"
            icon="icons/network16.png"
            id="org.openlca.ilcd.network.wizards.ImportWizard"
            name="%ilcd.net.import.wizard.name">
         <description>
            %ilcd.net.import.wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.openlca.ilcd.network.export.category"
            name="%ilcd.net.export.category.name">
      </category>
      <wizard
            category="org.openlca.ilcd.network.export.category"
            class="org.openlca.ilcd.network.rcp.ui.ExportWizard"
            icon="icons/network16.png"
            id="org.openlca.ilcd.network.ExportWizard"
            name="%ilcd.net.export.wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openlca.ilcd.network.rcp.ui.PreferencePage"
            id="org.openlca.ilcd.network.rcp.ui.PreferencePage"
            name="%ilcd.net.preference.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openlca.ilcd.network.rcp.ui.Preference">
      </initializer>
   </extension>
</plugin>
