/* The 'Dark' theme of the openLCA graph editor. */

/* basic attributes and graph settings */
:root {
  --name: 'Dark';         /* the name of the theme */
  --mode: 'dark';         /* this is a dark theme */
  background: #282a36;  /* the background color of the graph */
}


/* -- process boxes -- */

/* defaults */
.box {
  color: #f2f2f2;       /* font color */
  background: #282A36;  /* background color */
  border: 1px #ff79c6;  /* border width and color */
}

/* unit processes */
.box .unit-process {
  color: #f2f2f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #ff79c6;  /* border width and color */
}

/* system processes */
.box .system-process {
  color: #f2f2f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #bd93f9;  /* border width and color */
}

/* library processes */
.box .library-process {
  color: #f2f2f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #f1fa8c;  /* border width and color */
}

/* sub-systems */
.box .sub-system {
  color: #f2f2f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #804096;  /* border width and colcor */
}


/* -- process links -- */

/* defaults */
.link {
  color: #f2f2f2;
}

/* product flows */
.link .product {
  color: #8be9fd;
}

/* waste flows */
.link .waste {
  color: #ffb86c;
}

/* elementary flows */
.link .elementary-flow {
  color: #50fa7b;
}


/* -- labels -- */

/* info-headers */
.label .info {
  color: #f2f2f2;
}

/* product flows */
.label .product {
  color: #8be9fd;
}

/* waste flows */
.label .waste {
  color: #ffb86c;
}

/* elementary flows */
.label .elementary-flow {
  color: #50fa7b;
}
