/* The 'Default' theme of the openLCA graph editor. */

/* basic attributes and graph settings */
:root {
  --name: 'Default';      /* the name of the theme */
  --mode: 'light';        /* this is a light theme */
  background: #ffffff;  /* the background color of the graph */
}


/* -- process boxes -- */

/* defaults */
.box {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* reference processes */
.box .reference-process {
  color: #000000;       /* font color */
  background: #fff5ff;  /* background color */
  border: 3px #800080;  /* border width and color */
}

/* unit processes */
.box .unit-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* system processes */
.box .system-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 3px #800080;  /* border width and color */
}

/* library processes */
.box .library-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 3px #ff9700;  /* border width and color */
}

/* sub-systems */
.box .sub-system {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 3px #125985;  /* border width and color */
}


/* -- process links -- */

/* defaults */
.link {
  color: #000000;
}

/* product flows */
.link .product {
  color: #000000;
}

/* waste flows */
.link .waste {
  color: #000000;
}

/* elementary flows */
.link .elementary-flow {
  color: #000000;
}


/* -- labels -- */

/* info-headers */
.label .info {
  color: #bfbfbf;
}

/* product flows */
.label .product {
  color: #000000;
}

/* waste flows */
.label .waste {
  color: #000000;
}

/* elementary flows */
.label .elementary-flow {
  color: #000000;
}
