/* The 'Dark' theme of the openLCA. */
/* colors from https://draculatheme.com/contribute */

/* basic attributes and graph settings */
:root {
  --version: '2';         /* the version of openLCA */
  --name: 'Dark';         /* the name of the theme */
  --mode: 'dark';         /* this is a dark theme */
}

/* -- Graph Model -- */

#model body {
  background: #282a36;  /* the overall background color */
}

/* -- boxes -- */

/* defaults */
#model box {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #ff79c6;  /* border width and color */
}

/* reference processes */
#model box .reference-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #ff79c6;  /* border width and color */
}

/* unit processes */
#model box .unit-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 1px #ff79c6;  /* border width and color */
}

/* system processes */
#model box .system-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #bd93f9;  /* border width and color */
}

/* library processes */
#model box .library-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #f1fa8c;  /* border width and color */
}

/* sub-systems */
#model box .sub-system {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #8daff7;  /* border width and color */
}

/* results */
#model box .result {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #eda211;  /* border width and color */
}

/* sticky-note */
#model box .sticky-note {
  color: #000000;       /* font color */
  background: #fef5aa;  /* background color */
}

/* -- process links -- */

/* defaults */
#model link {
  color: #f8f8f2;
}

/* product flows */
#model link.product {
  color: #8be9fd;
}

/* waste flows */
#model link .waste {
  color: #ffb86c;
}

/* selected flows */
link ::selection {
  color: #fcba03;
}

/* -- labels -- */

/* info-headers */
#model label .info {
  color: #6272a4;
}

/* product flows */
#model label .product {
  color: #8be9fd;
}

/* waste flows */
#model label .waste {
  color: #ffb86c;
}

/* elementary flows */
#model label .elementary-flow {
  color: #50fa7b;
}

/* -- Sankey Diagram -- */

#sankey body {
  background: #282a36;  /* the overall background color */
}

/* -- boxes -- */

/* defaults */
#sankey box {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #ff79c6;  /* border width and color */
}

/* reference processes */
#sankey box .reference-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 4px #ff79c6;  /* border width and color */
}

/* unit processes */
#sankey box .unit-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #ff79c6;  /* border width and color */
}

/* system processes */
#sankey box .system-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 3px #bd93f9;  /* border width and color */
}

/* library processes */
#sankey box .library-process {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 3px #f1fa8c;  /* border width and color */
}

/* sub-systems */
#sankey box .sub-system {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 5px #8daff7;  /* border width and color */
}

/* results */
#sankey box .result {
  color: #f8f8f2;       /* font color */
  background: #282A36;  /* background color */
  border: 2px #eda211;  /* border width and color */
}

/* -- links -- */

/* selected flows */
#sankey link ::selection {
  color: #fcba03;
}
