/* The 'Default' theme of the openLCA graph editor. */

/* basic attributes and graph settings */
:root {
  --version: '2';       /* the version of openLCA */
  --name: 'Light';    /* the name of the theme */
  --mode: 'light';      /* this is a light theme */
}

/* -- Graph Model -- */

#model body {
  background: #ffffff;  /* the overall background color */
}

/* -- boxes -- */

/* defaults */
#model box {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* reference processes */
#model box .reference-process {
  color: #000000;       /* font color */
  background: #fffaff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* unit processes */
#model box .unit-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 1px #800080;  /* border width and color */
}

/* system processes */
#model box .system-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* library processes */
#model box .library-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #999999;  /* border width and color */
}

/* sub-systems */
#model box .sub-system {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #125985;  /* border width and color */
}

/* results */
#model box .result {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #eda211;  /* border width and color */
}

/* sticky-note */
#model box .sticky-note {
  color: #000000;       /* font color */
  background: #fef5aa;  /* background color */
}

/* -- links -- */

/* defaults */
#model link {
  color: #000000;
}

/* product flows link */
#model link .product {
  color: #000000;
}

/* waste flows link */
#model link .waste {
  color: #000000;
}

/* selected node link */
#model link ::selection {
  color: #fcba03;
}


/* -- labels -- */

/* info-headers */
#model label .info {
  color: #bfbfbf;
}

/* product flows */
#model label .product {
  color: #000000;
}

/* waste flows */
#model label .waste {
  color: #000000;
}

/* elementary flows */
#model label .elementary-flow {
  color: #000000;
}

/* -- Sankey Diagram -- */

#sankey body {
  background: #ffffff;  /* the overall background color */
}

/* -- boxes -- */

/* defaults */
#sankey box {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* reference processes */
#sankey box .reference-process {
  color: #000000;       /* font color */
  background: #fffaff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* unit processes */
#sankey box .unit-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 1px #800080;  /* border width and color */
}

/* system processes */
#sankey box .system-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #800080;  /* border width and color */
}

/* library processes */
#sankey box .library-process {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #999999;  /* border width and color */
}

/* sub-systems */
#sankey box .sub-system {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #125985;  /* border width and color */
}

/* results */
#sankey box .result {
  color: #000000;       /* font color */
  background: #ffffff;  /* background color */
  border: 2px #eda211;  /* border width and color */
}

/* -- links -- */

/* selected node link */
#sankey link ::selection {
  color: #fcba03;
}
