.well {            
    background-color: #ffffff;
}

.box-row1 {
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.box-row2 {
    padding: 20px;
}

.btn-primary {
    width:225px;
}

.popover {
    min-width: 200px;
    text-align: center;
}

.popoverButton {
    margin-right: 10px;
}

.popoverButton:hover {
    cursor: pointer;
}

.reportTable {
    width: 80%;
    margin: auto;
}

.indicator-selection-combo {
    width: 300px;
    margin: auto;
}

.result-charts-variant-container {
    width: 450px;
    margin-bottom: 25px;
}

.result-charts-variant-container .variant-label {
    width: 80%;
    text-align: center;
}

.legend-container {
    float: left;
    width: 150px;
    margin-right: 25px;
}

.legend .title {
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
}

.legend .glyphicon {
    margin-right: 10px;
}

#result-total-container {
    margin-bottom: 25px;		
}

#indicatorSelection {
    max-width: 400px;
    margin-bottom: 25px;
}