
.box-row1 {
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.box-row2 {
    padding: 20px;
}

.reportTable {
    width: 80%;
    margin: auto;
}

.indicator-selection-combo {
    width: 300px;
    margin: auto;
}

#indicatorSelection {
    max-width: 400px;
    margin-bottom: 25px;
}