<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="openLCA target platform" sequenceNumber="19">
<locations>
<location path="${project_loc}/../olca-app-runtime/platform" type="Directory"/>
</locations>
</target>
