$leftWidth=275px
$rightWidth=275px
$titleIconSize=48px

html, body
	width 100%
	margin 0
	padding 0
	min-width 1200px

body
	background-color rgb(167, 189, 203, 0.8)
	font-family "Helvetica Neue",Helvetica,Arial,sans-serif
	font-size 14px
	color rgb(38, 38, 38)
	line-height 1.42857143

h1, h2, h3, h4, h5
	margin 0
	
h1
	font-size 44px
	
h2 
	font-size 24px
	font-weight normal

header
	padding 10px 30px 1px 30px
	background-color rgb(17, 88, 132)
	color rgb(254, 247, 235)
	
	h1
		color rgb(255, 255, 255)

	& > *
		height 100%
		
	& > .row:nth-of-type(2)
		padding-top 1px

	.center
		margin-right 0
		
	.right 
		width auto

	.app-logo
		width 235px

	.company-logo
		background-image url('images/greendelta-logo.png')
		display block
		width 210px
		height 24px
		float right		
		margin-top 50px

		&:hover
			background-image url('images/greendelta-logo-active.png')

.left
	float left
	width $leftWidth
	
.center
	margin-left $leftWidth
	margin-right $rightWidth
	padding 0 30px

.right
	float right
	width $rightWidth
	
.clear, .row
	clear both
				
#main

	.row
		padding 10px 30px
		
	.right 
		min-height 125px

	hr
		border 0
		border-top 1px solid rgb(255, 255, 255)
		margin 0 30px

	.social-media-icon
		height 32px
		margin-right 20px

	.icon-container
		padding 20px 0
		display table
		
		.icon
			height 48px
			float left

		h3
			display table-cell
			vertical-align middle
			line-height 20px
			font-size 20px
			padding-left 20px
