@font-face {
  font-family: 'TheSans';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/TheSans_Plain.ttf') format('truetype');
}

@font-face {
  font-family: 'TheSans';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/TheSans_B7_Bold.ttf') format('truetype');
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 25px;
  font-family: 'TheSans', Helvetica, Arial, sans-serif;
  color: #fbfbfb;
  line-height: 1.42857143;
  background-image: url('images/background_start_page.jpg');
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
}

header {
  background-color: rgba(18,89,133,0.7);
  min-width: 100%;
  margin-bottom: 50px;
  padding: 10px 0;
}

header .subtext {
  font-size: 22px;
}

header .header-title {
  margin-left: 250px;
}

img.logo {
  margin: 15px 25px 15px 25px;
  height: 126px;
  position: absolute;
}

img.chevron {
  margin: 0 0 -3px 10px;
  display: none;
}

.gd-logo {
  width: 210px;
  height: 24px;
  background-image: url('images/greendelta-logo.png');
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
}

.gd-logo:hover {
  background-image: url('images/greendelta-logo-active.png');
}

.content {
  display: none;
}

a {
  color: #fbfbfb;
}

.block {
  overflow: hidden;
}

.block:not(.expanded) {
  cursor: pointer;
}

.block.whats-new {
  background-color: rgba(0,177,241,0.7);
}

.block.getting-started {
  background-color: rgba(112,187,40,0.7);
}

.block.manuals {
  background-color: rgba(164,95,65,0.7);
}

.block.community {
  background-color: rgba(37,152,126,0.7);
}

.block.experts {
  background-color: rgba(128,0,128,0.7);
}

.block .block-content {
  display: inline-block;
  padding: 10px;
}

img.chevron-right { 
  margin-left: 6px;
  margin-bottom: -2px;
}

.placeholder {
  height: 10px;
}
