body {
    min-width: 850px;
}
.well {            
    background-color: #FFF;
}
.btn-primary {
    width:225px;
}
h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}
.subtitle {
    color: #888;
    font-size: 20px;
}
h3 > img {
    margin-right: 15px !important;
}
.description {
    color: #888;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.btn {
    vertical-align: inherit;
}
a.btn-default {
    color: #000000;
    background-color: transparent;
    font-weight: bold;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0;
}
a.btn-default:hover {
    color: #000000;
}
.page-header a.btn-default {
    font-weight: normal;
    color: #888;
    font-size: 16px;
    padding: 0;
}
.page-header a.btn-default:hover {
    background: transparent;
}
.page-header a.subtle-link {
    cursor: pointer;
    color: #888;
    text-decoration: none;
}
tr {
    width: 100%;
    padding: 0;
    margin: 0;
}
#navigation-section td {
    min-width: 50% !important;
    padding-right: 25px;
    vertical-align: top;
}
.page-header {
    margin: 0 !important;
    padding: 20px 20px 10px 20px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 71%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(71%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 71%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 71%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 71%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 71%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    border-bottom: 1px solid #D4D4D4;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.page-header td {
    width: 200px !important;
}
#logo {
    float: left;
    margin: 0 20px 0 0;
}
#logo-cell {
    width: 200px;
    vertical-align: middle;
    padding: 0 0 20px 0;
}
#logo-cell img {
    float: left;
    cursor: pointer;
}
#gd-logo {
    float: right;
    width: 170px;
    height: 24px;
    margin: 10px 10px 0 20px;
    background: url('images/gd_transparent_inactive.png');
}
#gd-logo:hover {
    cursor: pointer;
    background: url('images/gd_transparent.png');
}
.section_content {
	padding-left: 48px;
	padding-right: 48px;
}

