<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.openlca.core.editors.pages" name="org.openlca.core.editors.pages" schema="schema/org.openlca.core.editors.pages.exsd"/>
   <extension
         point="org.openlca.core.application.editors">
      <editor
            class="org.openlca.core.editors.actor.ActorEditor"
            componentClass="org.openlca.core.model.Actor"
            editorID="org.openlca.core.editors.actor.ActorEditor"
            name="%editor.name"
            newWizardId="org.openlca.core.editors.actor.wizard.ActorWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.source.SourceEditor"
            componentClass="org.openlca.core.model.Source"
            editorID="org.openlca.core.editors.source.SourceEditor"
            name="%editor.name.0"
            newWizardId="org.openlca.core.editors.source.wizard.SourceWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.unitgroup.UnitGroupEditor"
            componentClass="org.openlca.core.model.UnitGroup"
            editorID="org.openlca.core.editors.unitgroup.UnitGroupEditor"
            name="%editor.name.1"
            newWizardId="org.openlca.core.editors.unitgroup.wizard.UnitGroupWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.flowproperty.FlowPropertyEditor"
            componentClass="org.openlca.core.model.FlowProperty"
            editorID="org.openlca.core.editors.flowproperty.FlowPropertyEditor"
            name="%editor.name.2"
            newWizardId="org.openlca.core.editors.flowproperty.wizard.FlowPropertyWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.flow.FlowEditor"
            componentClass="org.openlca.core.model.Flow"
            editorID="org.openlca.core.editors.flow.FlowEditor"
            name="%editor.name.3"
            newWizardId="org.openlca.core.editors.flow.wizard.FlowWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.lciamethod.LCIAMethodEditor"
            componentClass="org.openlca.core.model.LCIAMethod"
            editorID="org.openlca.core.editors.lciamethod.LCIAMethodEditor"
            name="%editor.name.7"
            newWizardId="org.openlca.core.editors.lciamethod.wizard.LCIAMethodWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.process.ProcessEditor"
            componentClass="org.openlca.core.model.Process"
            editorID="org.openlca.core.editors.process.ProcessEditor"
            name="%editor.name.4"
            newWizardId="org.openlca.core.editors.process.wizard.ProcessWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.project.ProjectEditor"
            componentClass="org.openlca.core.model.Project"
            editorID="org.openlca.core.editors.project.ProjectEditor"
            name="%editor.name.5"
            newWizardId="org.openlca.core.editors.project.wizard.ProjectWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.productsystem.ProductSystemEditor"
            componentClass="org.openlca.core.model.ProductSystem"
            editorID="org.openlca.core.editors.productsystem.ProductSystemEditor"
            name="%editor.name.6"
            newWizardId="org.openlca.core.editors.productsystem.wizard.ProductSystemWizard">
      </editor>
      <editor
            class="org.openlca.core.editors.result.ResultEditor"
            componentClass="org.openlca.core.model.results.LCIAResult"
            editorID="org.openlca.core.editors.result.ResultEditor"
            name="LCIA result viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openlca.core.editors.actor.ActorEditor"
            default="false"
            icon="icons/actor_obj.png"
            id="org.openlca.core.editors.actor.ActorEditor"
            name="%editor.name">
      </editor>
      <editor
            class="org.openlca.core.editors.source.SourceEditor"
            default="false"
            icon="icons/source_obj.png"
            id="org.openlca.core.editors.source.SourceEditor"
            name="%editor.name.0">
      </editor>
      <editor
            class="org.openlca.core.editors.unitgroup.UnitGroupEditor"
            default="false"
            icon="icons/unitgroup_obj.gif"
            id="org.openlca.core.editors.unitgroup.UnitGroupEditor"
            name="%editor.name.1">
      </editor>
      <editor
            class="org.openlca.core.editors.flowproperty.FlowPropertyEditor"
            default="false"
            icon="icons/flowprop_obj.gif"
            id="org.openlca.core.editors.flowproperty.FlowPropertyEditor"
            name="%editor.name.2">
      </editor>
      <editor
            class="org.openlca.core.editors.flow.FlowEditor"
            default="false"
            icon="icons/flow_obj.gif"
            id="org.openlca.core.editors.flow.FlowEditor"
            name="%editor.name.3">
      </editor>
      <editor
            class="org.openlca.core.editors.lciamethod.LCIAMethodEditor"
            default="false"
            icon="icons/LCIA_obj.gif"
            id="org.openlca.core.editors.lciamethod.LCIAMethodEditor"
            name="%editor.name.7">
      </editor>
      <editor
            class="org.openlca.core.editors.process.ProcessEditor"
            default="false"
            icon="icons/proc_obj.gif"
            id="org.openlca.core.editors.process.ProcessEditor"
            name="%editor.name.4">
      </editor>
      <editor
            class="org.openlca.core.editors.project.ProjectEditor"
            default="false"
            icon="icons/project_obj.png"
            id="org.openlca.core.editors.project.ProjectEditor"
            name="%editor.name.5">
      </editor>
      <editor
            class="org.openlca.core.editors.productsystem.ProductSystemEditor"
            contributorClass="org.openlca.core.editors.productsystem.graphical.GraphicalEditorActionBarContributor"
            default="false"
            icon="icons/model.gif"
            id="org.openlca.core.editors.productsystem.ProductSystemEditor"
            name="%editor.name.6">
      </editor>
      <editor
            class="org.openlca.core.editors.result.ResultEditor"
            contributorClass="org.openlca.core.editors.result.ResultActionProvider"
            default="false"
            icon="icons/expression_obj.gif"
            id="org.openlca.core.editors.result.ResultEditor"
            name="Result viewer">
      </editor>
      <editor
            class="org.openlca.core.editors.analyze.AnalyzeEditor"
            contributorClass="org.openlca.core.editors.analyze.AnalyzeActionContributor"
            default="false"
            icon="icons/analyze.gif"
            id="org.openlca.core.editors.analyze.AnalyzeEditor"
            name="Analyze viewer">
      </editor>
      <editor
            class="org.openlca.core.editors.productsystem.SimulationEditor"
            default="false"
            icon="icons/simulate_16.png"
            id="SimulationEditor"
            name="Simulation Editor">
      </editor>      
      <editor
            class="org.openlca.core.editors.result.CostResultEditor"
            default="false"
            icon="icons/simulate_16.png"
            id="CostResultEditor"
            name="Cost results">
      </editor>      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.openlca.core.editors.actor.ActorWizard"
            icon="icons/actor_obj_new.png"
            id="org.openlca.core.editors.actor.wizard.ActorWizard"
            name="%wizard.name">
      </wizard>
      <wizard
            class="org.openlca.core.editors.source.SourceWizard"
            icon="icons/source_obj_new.png"
            id="org.openlca.core.editors.source.wizard.SourceWizard"
            name="%wizard.name.0">
      </wizard>
      <wizard
            class="org.openlca.core.editors.unitgroup.UnitGroupWizard"
            icon="icons/unitgroup_obj_new.gif"
            id="org.openlca.core.editors.unitgroup.wizard.UnitGroupWizard"
            name="%wizard.name.1">
      </wizard>
      <wizard
            class="org.openlca.core.editors.flowproperty.FlowPropertyWizard"
            icon="icons/flowprop_obj_new.gif"
            id="org.openlca.core.editors.flowproperty.wizard.FlowPropertyWizard"
            name="%wizard.name.2">
      </wizard>
      <wizard
            class="org.openlca.core.editors.flow.FlowWizard"
            icon="icons/flow_obj_new.gif"
            id="org.openlca.core.editors.flow.wizard.FlowWizard"
            name="%wizard.name.3">
      </wizard>
      <wizard
            class="org.openlca.core.editors.lciamethod.LCIAMethodWizard"
            icon="icons/LCIA_obj_new.gif"
            id="org.openlca.core.editors.lciamethod.wizard.LCIAMethodWizard"
            name="%wizard.name.7">
      </wizard>
      <wizard
            class="org.openlca.core.editors.process.ProcessWizard"
            icon="icons/proc_obj_new.gif"
            id="org.openlca.core.editors.process.wizard.ProcessWizard"
            name="%wizard.name.4">
      </wizard>
      <wizard
            class="org.openlca.core.editors.project.ProjectWizard"
            icon="icons/project_obj_new.png"
            id="org.openlca.core.editors.project.wizard.ProjectWizard"
            name="%wizard.name.5">
      </wizard>
      <wizard
            class="org.openlca.core.editors.productsystem.ProductSystemWizard"
            icon="icons/chart_organisation_new.png"
            id="org.openlca.core.editors.productsystem.wizard.ProductSystemWizard"
            name="%wizard.name.6">
      </wizard>
   </extension>   
</plugin>
